// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby)
// ## gradient example
//     	+g(#232323, #5c5c5c)
//	   horizontal
//     	+gh(#232323, #5c5c5c)
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

// media
=r1
	@media only screen and (max-width: 1320px)
		@content

=r2
	@media only screen and (max-width: 990px)
		@content
=r3
	@media only screen and (max-width: 660px)
		@content
=r4
	@media only screen and (max-width: 480px)
		@content

// fonts

// roboto-font
=roboto
	font-family: 'Roboto', Arial, sans-serif

// lora-font
=lora
	font-family: 'Lora', serif
	font-weight: 400
=lorai
	font-family: 'Lora', serif
	font-weight: 400
	font-style: italic
=lorab
	font-family: 'Lora', serif
	font-weight: 700
=lorabi
	font-family: 'Lora', serif
	font-weight: 700
	font-style: italic

// 'Fira Sans' font
=reg
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif
	font-weight: 400
=regi
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif
	font-weight: 400
	font-style: italic

=light
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif
	font-weight: 300

=med
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif
	font-weight: 500

=medi
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif
	font-weight: 500
	font-style: italic

=bold
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif
	font-weight: 700
=boldi
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif
	font-weight: 700
	font-style: italic

body
	+reg
	font-size: 14px
	line-height: 1.4
	min-width: 320px

// colors
$violet: #c0a6cd
$gold: #f2c05e
$red: #d27857
$orange: #ff8c61
$mint: #9bc1bc

// common blocks
.l-center
	max-width: 1070px
	margin: 0 auto

.row
	font-size: 0
	margin: 0 -15px

.col-s
	display: inline-block
	width: 33.33%
	padding: 0 15px

.col-big
	padding: 0 15px
	display: inline-block
	vertical-align: top
	width: 75%

.col-sm
	width: 25%
	display: inline-block
	vertical-align: top
	padding: 0 15px

strong, b
	font-weight: 400

i, em
	font-style: normal

h1, .h1
	font-size: 60px
	+bold
	line-height: 1.06

.h2
	font-size: 45px
	color: #0e0e0e
	line-height: 1.5
	+light
	&_mb
		margin-bottom: 20px
a
	color: #000
	text-decoration: none

.container
	max-width: 1320px
	padding: 0 15px
	margin: 0 auto
	&_search
		padding-top: 40px
	+r1
		max-width: 990px
	+r2
		max-width: 660px
	+r3
		width: 100%

.tech-row
	padding: 10px 0

// buttons
.btn
	display: inline-block
	text-transform: uppercase
	color: #282828
	position: relative
	padding: 7px 18px 6px
	font-size: 11px
	+tr(color .3s)
	z-index: 1
	&_bd
		border: 1px solid #333
	&:before
		content: ''
		position: absolute
		left: 0
		top: -1px
		bottom: -1px
		width: 5px
		background: #333
		+tr(width .3s)
		z-index: -1
	&:hover
		color: #fff
		&:before
			width: 100%
	&_gold
		&.btn_bd
			border-color: $gold
		&:before
			background-color: $gold
	&_orange
		&.btn_bd
			border-color: $orange
		&:before
			background-color: $orange
	&_red
		&.btn_bd
			border-color: $red
		&:before
			background-color: $red
	&_violet
		&.btn_bd
			border-color: $violet
		&:before
			background-color: $violet

.button
	font-size: 18px
	color: #fff
	width: 210px
	background-color: #f7b153
	padding: 10px 10px 9px
	cursor: pointer
	+tr(background .3s)
	&:hover
		background: darken(#f7b153, 10)

// item
.item
	position: relative
	margin-bottom: 30px
	height: 462px
	background: #FFF
	border: 1px solid #000
	&:hover
		.item__link
			text-decoration: none
		.item__txt
			height: 235px
		.item__info
			opacity: 1
	&_gold
		border-color: $gold
		&:hover
			.item__author,
			.item__txt
				color: $gold
		.item__instruction
			color: $gold
	&_red
		border-color: $red
		&:hover
			.item__author,
			.item__txt
				color: $red
		.item__instruction
			color: $red
	&_violet
		border-color: $violet
		&:hover
			.item__author,
			.item__txt
				color: $violet
		.item__instruction
			color: $violet
	&_mod
		&:hover
			.item__txt
				height: 150px
			.item__author
				color: #ccc
		.item__txt
			height: 150px
			font-size: 22px
			+lora
		.item__img
			height: 310px
			&:before
				display: block
		.item__author
			color: #ccc
	&_big
		height: 672px
		.item__txt
			padding-top: 10px
		.item__img
			height: 510px
		.item__name
			font-size: 56px
	&__in
		display: block
	&__img
		position: relative
		display: block
		height: 300px
		background: #FFF
		+cover
		&:before
			display: none
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			opacity: 0.8
			+g(rgba(47, 28, 42, 0.5), rgba(45, 26, 40, 0.76))
	&__txt
		position: absolute
		left: 0
		right: 0
		bottom: 0
		height: 160px
		padding: 12px 35px
		text-align: center
		font-size: 18px
		background: #FFF
		color: #282828
		overflow: hidden
		line-height: 24px
		+light
		+tr(0.2s)
		&-in
			height: 100%
			overflow: hidden
	&__info
		opacity: 0
		+tr(opacity 0.2s)
	&__author
		max-width: 100%
		font-size: 14px
		color: #909090
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		+tr(color 0.2s)
		+light
	&__instruction
		display: inline-block
		text-decoration: underline
		font-size: 14px
		+regi
	&__title
		position: absolute
		bottom: 20px
		left: 0
		right: 0
		text-align: center
	&__subtitle
		margin: 5px 0
		font-size: 28px
		line-height: 28px
		+med
	&__name
		font-size: 28px
		color: #FFF
		+bold
	&__arr
		position: absolute
		height: 20px
		bottom: -1px
		left: 0
		right: 0
		overflow: hidden
		&:before,
		&:after
			content: ""
			position: absolute
			border-width: 10px
			border-color: transparent transparent #fff
			border-style: solid
		&:before
			left: -20px
			right: 50%
		&:after
			right: -20px
			left: 50%
	.btn
		position: absolute
		top: 10px
		left: -5px
		background: #FFF
	.man
		margin: 15px auto
		max-width: 460px
.man
	text-align: left
	display: table
	&__text
		display: table-cell
		vertical-align: middle
		+light
		font-size: 16px
		line-height: 1.125
		text-align: left
		padding-left: 20px
	&__img
		display: table-cell
		vertical-align: middle
		width: 60px
		height: 60px
		border-radius: 50%
		overflow: hidden
		img
			max-width: 100%
.subscribe
	> .text-big
		margin-bottom: 20px
	&__field
		border: 1px solid #9bc1bc
		padding: 4px 4px 4px 20px
		+clr
		.button
			float: right
	&__input
		overflow: hidden
		color: #282828
		position: relative
		input
			+regi
			padding: 12px 10px 9px 35px
			font-size: 17px
			width: 100%
			line-height: 40px
			height: 40px
			+placeholder
				color: inherit
		.fa
			color: #9bc1bc
			font-size: 24px
			display: inline-block
			vertical-align: middle
			position: absolute
			left: 0
			top: 50%
			margin-top: -12px

