.main
	padding: 30px 15px
	&-in
		padding: 30px 15px 50px
	&__row
		margin: 0 -15px
		+clr
	&__content, &__sidebar
		padding: 0 15px
		float: left
	&__sidebar
		width: 25%
	&__content
		width: 75%

.social
	border: 1px solid #e6e6e6
	padding: 19px 15px 15px
	text-align: center
	margin-bottom: 30px
	+r3
		max-width: 320px
		margin: 0 auto 30px
	&__title
		font-size: 22px
		line-height: 1.18
		+medi
		a
			display: inline-block
			+tr(color .3s)
			&:hover
				color: $orange
		&:after
			width: 38px
			border-bottom: 3px solid #e6e6e6
			margin: 11px auto 15px
			display: block
			content: ""

	&__list
		font-size: 0
		li
			display: inline-block
			vertical-align: top
			padding: 5px
		a
			display: block
			color: #fff
			width: 40px
			height: 40px
			padding: 9px 0 7px
			text-align: center
			+tr(background .3s)
			&.is-fb
				background-color: #3b5998
				&:hover
					background-color: lighten(#3b5998, 10)

			&.is-tw
				background-color: #55acee
				&:hover
					background-color: lighten(#55acee, 10)

			&.is-vk
				background-color: #45668e
				&:hover
					background-color: lighten(#45668e, 10)

			&.is-od
				background-color: #ed812b
				&:hover
					background-color: lighten(#ed812b, 10)

		i
			font-size: 24px

.news-main
	margin-bottom: 30px
	&__title
		font-size: 14px
		line-height: 20px
		padding-left: 23px
		position: relative
		+light
		i
			color: #9bc1bc
			font-size: 18px
			position: absolute
			top: 0
			left: 0
	&__link
		color: #9bc1bc
		+roboto
		font-size: 18px
		line-height: 1
		position: relative
		display: inline-block
		vertical-align: top
		padding-right: 20px
		i
			position: absolute
			top: 1px
			right: 0
	&__wrap
		margin-bottom: 15px
		position: relative
		overflow: hidden
		&:before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: 100px
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%)
			z-index: 1
	&__list
		max-height: 1387px
		+r1
			max-height: 1210px
		.news-item
			&:last-child
				border: none

.scroll
	position: relative
	overflow: hidden
	&.ps-active-y
		padding-right: 10px
	&:hover, &.ps-in-scrolling
		.ps-scrollbar-y, .ps-scrollbar-x
			opacity: 1
	.ps-scrollbar-x-rail, .ps-scrollbar-y-rail
		position: absolute
		z-index: 2
	.ps-scrollbar-y
		width: 8px
	.ps-scrollbar-x
		height: 8px
	.ps-scrollbar-y, .ps-scrollbar-x
		position: relative
		background: rgba(#000, 0.3)
		opacity: 0
		transition: opacity 0.2s

.news-item
	border-bottom: 1px solid #e6e6e6
	padding: 25px 0
	&:first-child
		padding-top: 22px
	&__link
		display: block
		+clr
		color: #282828
		transition: color 0.25s
		&:hover
			color: $red
	&__img
		float: right
		width: 160px
		font-size: 0
		margin: 5px 0 0 10px
		img
			width: 100%
	&__title
		font-size: 20px
		line-height: 22px
		+med
		margin-bottom: 10px
		+r3
			font-size: 18px
	p
		font-size: 16px
		line-height: 20px
		+light
		margin-bottom: 10px
		+r3
			font-size: 15px
	time
		display: block

.item-lg
	padding: 60px 30px 37px
	position: relative
	+cover
	+r3
		padding: 60px 20px 30px
		margin: 0 -15px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-image: linear-gradient(180deg, rgba(64, 38, 57, 0.7) 0%, rgba(62, 36, 55, 0.85) 100%)
		z-index: 1

	.btn
		position: absolute
		top: 10px
		left: -5px
		z-index: 2
		background: #fff
		+r3
			left: 15px
	&__in
		position: relative
		z-index: 1
		+clr
	&__box, &__slider
		float: left
		+r2
			float: none
	&__box
		background-color: rgba(255, 255, 255, 0.9)
		width: 31%
		padding: 25px 20px 32px 28px
		+r1
			padding: 21px 17px 32px
			width: 30%
		+r2
			width: auto
			margin: 0 20px
		+r3
			margin: 0
		p
			font-size: 18px
			+light
			line-height: 24px
			+r1
				font-size: 16px
				line-height: 20px
	&__slider
		width: 69%
		padding: 0 20px 0 71px
		+r1
			width: 70%
			padding: 0 15px 0 54px
		+r2
			width: auto
			padding: 0 20px
		+r3
			padding: 0
	&__title
		font-size: 52px
		line-height: 1
		+bold
		margin-bottom: 22px
		+r1
			font-size: 38px

.slider
	max-width: 100%
	width: 760px
	min-height: 350px
	position: relative
	+r2
		min-height: 1px
	&:before, &:after
		content: ""
		position: absolute
		left: 0
		right: 0
		height: calc(50% - 25px)
		border: 1px solid #fff
		+r3
			height: calc(50% - 20px)
	&:before
		top: 0
		border-bottom: none
	&:after
		bottom: 0
		border-top: none
	&__in
		min-height: 350px
		position: relative
		z-index: 2
		+r2
			min-height: 1px
	&__prev, &__next
		position: absolute
		top: 50%
		margin-top: -25px
		width: 50px
		height: 50px
		border: 1px solid #fff
		border-radius: 50%
		font-size: 32px
		color: #fff
		background: none
		cursor: pointer
		z-index: 10
		transition: all 0.2s
		+r3
			width: 40px
			height: 40px
			margin: -20px 0 0
			font-size: 25px
		&:hover
			background-color: #f2c05e
			border-color: #f2c05e
	&__prev
		left: -24px
		+r3
			left: -19px
		i
			margin-right: 4px
	&__next
		right: -24px
		+r3
			right: -19px
		i
			margin-left: 4px
	.slick-dots
		z-index: 10
		bottom: 40px
		font-size: 0
		li
			padding: 0
			margin: 0 5px
			&.slick-active
				button
					background: #fff
			button
				width: 12px
				height: 12px
				border: 1px solid #fff
				background: none

.slide
	color: #fff
	padding: 53px 110px 72px
	position: relative
	z-index: 3
	+r1
		padding: 45px 45px 70px
	+r3
		padding: 20px 30px 70px
	&__title
		font-size: 36px
		line-height: 1
		+lorai
		margin-bottom: 55px
		+r1
			font-size: 32px
			line-height: 36px
		+r3
			font-size: 24px
			line-height: 26px
			margin-bottom: 30px
			text-align: center
		+r4
			font-size: 22px
	&__author
		font-size: 0
		+clr
	&__img, &__name
		display: inline-block
		vertical-align: middle
	&__img
		width: 70px
		height: 70px
		border-radius: 50%
		overflow: hidden
		margin-right: 20px
		+r3
			width: 60px
			height: 60px
			margin-right: 15px
			float: left
		img
			width: 100%
			height: 100%
			border-radius: 50%
	&__name
		font-size: 18px
		line-height: 21px
		+med
		+r3
			display: block
			padding: 20px 0 20px 75px
		+r3
			font-size: 16px
			+reg
	&__line
		overflow: hidden
		position: relative
		height: 14px
		margin-bottom: 15px
		&:before, &:after
			content: ""
			position: absolute
			top: 0
			border-top: 2px solid #fff
			width: 300px
		&:before
			left: -115px
			+r3
				width: 200px
		&:after
			left: 240px
			+r3
				left: 140px
				width: 500px
		span
			height: 14px
			margin-left: 185px
			width: 55px
			border-left: 2px solid #fff
			display: block
			position: relative
			+r3
				margin-left: 85px
			&:before
				content: ""
				position: absolute
				bottom: 0
				left: 0
				border-bottom: 2px solid #fff
				width: 100px
				transform-origin: bottom left
				transform: rotate(-13deg)

.load-more
	position: relative
	margin-top: 35px
	border-top: 1px solid #9bc1bc
	background-color: #e4eae9
	.btn-load
		margin-top: -25px
		margin-bottom: 15px
	&__section
		+r3
			max-width: 320px
			margin: 0 auto
		&:last-child
			&:after
				display: none
		&:after
			content: ""
			display: block
			width: 100%
			max-width: 300px
			margin: 0 auto 30px
			border-bottom: 2px solid #9bc1bc
	&__title
		font-size: 14px
		letter-spacing: 0.2em
		line-height: 15px
		+med
		text-transform: uppercase
		padding: 0 15px 15px
	.main
		padding-bottom: 0
.btn-load
	max-width: 410px
	width: 100%
	padding: 16px
	background-color: #9bc1bc
	border-radius: 2px
	color: #fff
	line-height: 1
	cursor: pointer
	font-size: 0
	display: block
	margin: 0 auto
	+r3
		max-width: 290px
	&:hover
		background: darken(#9bc1bc, 5%)
	&:active
		background: darken(#9bc1bc, 10%)
	span
		font-size: 18px
	i
		font-size: 20px
		margin-right: 17px

.blockquote
	height: 462px
	border: 1px solid
	position: relative
	text-align: center
	margin-bottom: 30px
	+r1
		height: 402px
	+r3
		max-width: 320px
		margin: 0 auto 30px
		height: 370px
	&_red
		border-color: #d27857
		&:hover
			.blockquote__text
				p
					color: #d27857
		.blockquote
			&__info
				color: #d27857
			&__text
				&:before, &:after
					color: #d27857
	&_yellow
		border-color: #f2c05e
		&:hover
			.blockquote__text
				p
					color: #f2c05e
		.blockquote
			&__info
				color: #f2c05e
			&__text
				&:before, &:after
					color: #f2c05e
	&_violet
		border-color: #c0a6cd
		&:hover
			.blockquote__text
				p
					color: #c0a6cd
		.blockquote
			&__info
				color: #c0a6cd
			&__text
				&:before, &:after
					color: #c0a6cd
	.btn
		position: absolute
		top: 10px
		left: -5px
	&__link
		display: block
		height: 100%
		padding: 57px 20px 17px
		overflow: hidden
		+r1
			padding: 43px 20px 15px
	&__info
		font-size: 16px
		line-height: 18px
		+med
		+r1
			font-size: 14px
	&__text
		max-width: 340px
		quotes: "\201C""\201D"
		margin: 0 auto
		position: relative
		padding: 50px 0
		+r3
			padding: 45px 0 40px
		&:before, &:after
			font-size: 72px
			+lorab
			line-height: 40px
			position: absolute
			left: 0
			right: 0
			text-align: center
			+r1
				font-size: 54px
		&:before
			content: open-quote
			top: 25px
			+r1
				top: 15px
		&:after
			content: close-quote
			bottom: -15px
			+r1
				bottom: -5px
			+r3
				bottom: -15px
		p
			+lorai
			font-size: 20px
			line-height: 28px
			color: #282828
			max-height: 252px
			overflow: hidden
			transition: color 0.25s
			+r1
				font-size: 17px
				line-height: 20px
				max-height: 200px
			+r3
				font-size: 16px

.item-banner
	padding: 0 30px
	color: #fff
	position: relative
	margin-bottom: 20px
	+r3
		max-width: 320px
		margin: 0 auto 20px
		padding: 150px 20px 30px
	&__bg
		background-position: right center
		background-repeat: no-repeat
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		+r1
			background-size: cover
		+r2
			background-position: center
		+r3
			background-size: contain
			background-position: top center
	&_blue
		background-color: #051431
		.item-banner
			&__bg
				+r3
					height: 140px
					bottom: auto
				&:before
					content: ""
					position: absolute
					top: 0
					bottom: 0
					left: 340px
					width: 230px
					background-image: linear-gradient(to right, #051431 0%, rgba(5, 20, 49, 0) 100%)
					+r1
						left: 0
						right: 0
						margin: 0
						width: auto
					+r3
						display: none
	&_yellow
		background-color: #f2cd42
		.item-banner
			&__bg
				&:before
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					background-color: rgba(58, 34, 48, 0.44)
					border: 1px solid #979797
					content: ""
	.btn
		position: absolute
		top: 10px
		left: -5px
		z-index: 10
		background: #fff
	&__left
		position: relative
		max-width: 380px
		padding: 70px 0 30px
		z-index: 1
		+r1
			position: static
			max-width: 270px
			padding: 60px 0 30px
		+r3
			padding: 0
		&-in
			position: relative
			z-index: 2
	&__title, &__subtitle, &__title_mod
		+bold
	&__title
		font-size: 52px
		line-height: 1
		letter-spacing: 5px
		+r1
			font-size: 38px
			line-height: 1.2
			margin-bottom: 5px
	&__subtitle
		font-size: 22px
		line-height: 31px
		margin-bottom: 20px
		+r1
			font-size: 18px
			line-height: 26px
			margin-bottom: 5px
	&__title_mod
		font-size: 48px
		line-height: 1
		margin-bottom: 10px
		+r1
			font-size: 38px
			line-height: 42px
		+r3
			font-size: 30px
			line-height: 35px
	p
		font-size: 18px
		line-height: 24px
		+light
		margin-bottom: 35px
		+r1
			font-size: 16px
			line-height: 20px
			margin-bottom: 23px
	&__btn
		display: block
		width: 100%
		border: 3px solid #ff8c61
		color: #ff8c61
		font-size: 22px
		line-height: 1
		text-align: center
		padding: 16px
		transition: background .3s, border .3s, color .3s
		+r3
			font-size: 20px
			padding: 17px
		&:hover
			background: #ff8c61
			color: #fff
		&_full
			background-color: #ff8c61
			color: #fff
			&:hover
				background-color: lighten(#ff8c61, 7)
				border-color: lighten(#ff8c61, 7)
.item-image
	position: relative
	padding: 117px 30px 83px
	margin-bottom: 20px
	+r3
		padding: 170px 0 0
		max-width: 320px
		margin: 0 auto 20px
	+r4
		padding-top: 150px
	&__bg
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		+cover
		+r3
			background-size: contain
			background-position: top center
			bottom: auto
			height: 170px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: rgba(58, 34, 48, 0.44)
			border: 1px solid #979797
	.btn
		position: absolute
		top: 10px
		left: -5px
		background: #fff
		z-index: 2

.box-form
	position: relative
	z-index: 2
	background-color: rgba(255, 255, 255, 0.9)
	border-radius: 6px
	padding: 20px 40px 33px
	max-width: 380px
	+r1
		max-width: 270px
		padding: 20px 20px 30px
	+r3
		max-width: 100%
		background: #fff
		padding: 20px 25px 25px
		border-radius: 0
	&__title, &__subtitle
		+bold
	&__title
		font-size: 52px
		line-height: 1.2
		+r1
			font-size: 38px
			line-height: 42px
	&__subtitle
		font-size: 22px
		line-height: 1
		max-width: 240px
		margin-bottom: 35px
		+r1
			font-size: 18px
			line-height: 26px
			margin-bottom: 15px
	&__field
		margin-bottom: 19px
	&__btn
		background-color: #ff8c61
		display: inline-block
		vertical-align: top
		text-align: center
		width: 100%
		+med
		color: #fff
		font-size: 17px
		line-height: 21px
		padding: 13px 12px 12px
		+tr(background .3s)
		&:hover
			background: lighten(#ff8c61, 7)
	p
		font-size: 16px
		line-height: 18px
		+light
		padding: 5px 0 0
		a
			color: #ff8c61
			text-decoration: underline
			&:hover
				text-decoration: none

.select
	color: #282828
	font-size: 18px
	line-height: 21px
	position: relative
	cursor: pointer
	&.is-active
		.select
			&__list
				display: block
		i
			transform: rotate(180deg)
	select
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		width: 100%
		height: 100%
		opacity: 0
	&__text
		+regi
		padding: 12px 35px 11px 14px
		border: 1px solid #ff8c61
		position: relative
		z-index: 1
	i
		position: absolute
		top: 50%
		right: 22px
		font-size: 14px
		margin-top: -7px
		color: #ff8c61
	&__list
		position: absolute
		top: 100%
		left: 0
		right: 0
		background: #fff
		+reg
		padding: 19px 18px 12px 14px
		display: none
		border: 1px solid #ff8c61
		border-top: none
		z-index: 200
		li
			padding: 10px 0
			border-top: 1px solid #e5e5e5
			&:first-child
				border-top: none

.main-head
	+light
	padding: 60px 15px 85px
	position: relative
	margin-bottom: 30px
	+r2
		padding: 20px 15px
	&__info
		max-width: 620px
		width: 40%
		position: relative
		z-index: 1
		+r1
			width: 43%
		+r2
			width: 100%
	&__title
		font-size: 46px
		line-height: 54px
		margin-bottom: 25px
		+r2
			font-size: 38px
			line-height: 1.1
			margin-bottom: 15px
	p
		font-size: 22px
		line-height: 26px
		color: #0e0e0e
		+r2
			font-size: 20px
			line-height: 25px
	&__img
		position: absolute
		top: 0
		bottom: 0
		right: 0
		width: 63%
		background-position: right center
		background-repeat: no-repeat
		+r1
			width: 70%
			background-size: contain
		+r2
			width: 100%
			padding-bottom: 40%
			position: relative
			background-position: center

.fullscreen
	min-height: 100vh
	display: table
	width: 100%
	position: relative
	color: #fff
	+cover
	+r2
		display: block
		min-height: 1px
	&:before, &:after
		position: absolute
		content: ""
	&:before
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-image: linear-gradient(180deg, rgba(30, 18, 27, 0.3) 0%, rgba(27, 16, 24, 0.66) 100%)
	&:after
		top: 27px
		left: 21px
		right: 21px
		bottom: 30px
		border: 1px solid
		+r2
			display: none
	&_yellow
		&:after
			border-color: $gold
	&_violet
		+r2
			min-height: 368px
		.fullscreen
			&__center
				+r2
					max-width: 500px
			&__inner
				+r2
					position: absolute
					bottom: 0
					left: 0
					right: 0
					padding-bottom: 10px
		&:after
			border-color: $violet
			+r2
				display: block
				top: 15px
				left: 15px
				right: 15px
				bottom: 18px
	&_red
		.fullscreen
			&__inner
				+r3
					padding: 30px 10px
			&__center
				padding-bottom: 15px
		&:after
			border-color: $red
	&__inner
		display: table-cell
		vertical-align: bottom
		position: relative
		z-index: 1
		padding: 27px 21px 30px
		height: 100vh
		+r2
			display: block
			vertical-align: top
			padding: 15px 15px 18px
			height: auto
	&__center
		max-width: 1110px
		margin: 0 auto
		padding: 45px 10px 45px
		+r2
			padding: 15px
	.slider
		margin: 0 auto 60px
		background-image: linear-gradient(180deg, rgba(55, 33, 49, 0.6) 0%, rgba(53, 31, 47, 0.8) 100%)
		&__prev, &__next
			background: rgba(53, 31, 47, 1)
			&:hover
				background: $gold
	.slide
		position: relative
	&__title
		+bold
		font-size: 64px
		line-height: 72px
		margin-bottom: 15px
		+r1
			font-size: 52px
			line-height: 1.2
		+r2
			font-size: 28px
			line-height: 1
	p
		font-size: 18px
		line-height: 24px
		+light
		+r2
			font-size: 16px
			line-height: 22px
	h4
		font-size: 24px
		line-height: 1
		+light
		max-width: 840px
		margin: 0 auto
		+r1
			max-width: 740px
		+r2
			font-size: 20px
	&__info
		text-align: center
	&__author
		font-size: 14px
		line-height: 17px
		color: #ccc
		margin-bottom: 10px

.info-block
	background-color: #fff
	display: block
	text-align: center
	padding: 15px 15px 27px
	position: relative
	&:hover
		.info-block
			&__author
				text-decoration: none
	&__arr
		overflow: hidden
		height: 20px
		position: absolute
		bottom: 100%
		left: 0
		right: 0
		&:before, &:after
			content: ""
			position: absolute
			bottom: 0
			border-style: solid
			border-width: 9px 9px 10px
			border-color: transparent transparent #fff
		&:before
			left: -15px
			right: 50%
		&:after
			left: 50%
			right: -15px
	&_red
		.info-block
			&__author
				color: #d27857
	&__author
		font-size: 14px
		line-height: 17px
		text-decoration: underline
		margin-bottom: 15px
		+regi
	&__title
		font-size: 22px
		line-height: 26px
		margin-bottom: 10px
		+lora
		+r3
			font-size: 20px
			line-height: 24px
	&__user
		max-width: 500px
		margin: 0 auto
		text-align: left
	&__img
		width: 60px
		height: 60px
		border-radius: 50%
		overflow: hidden
		margin-right: 18px
		float: left
		img
			border-radius: 50%
	&__text
		padding: 12px 0
		overflow: hidden
		p
			color: #282828
			font-size: 16px
			line-height: 18px
			+light

.item-full
	background: #FFF
	border: 1px solid #000
	position: relative
	display: block
	height: 672px
	+cover
	text-align: center
	color: #fff
	margin-bottom: 30px
	+r3
		height: auto
	&:hover
		&:after
			opacity: 1
		&:before
			opacity: 0
		.item-full
			&__author
				color: #fff
	&:before, &:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		transition: opacity 0.25s
	&:before
		background-image: linear-gradient(to top, rgba(47, 28, 42, 0.5) 0%, rgba(45, 26, 40, 0.76) 100%)
	&:after
		opacity: 0
	&_gold
		border-color: $gold
		&:after
			background: rgba(242,192,94,0.80)
	&_red
		border-color: $red
		&:after
			background: rgba(210,120,87,0.80)
	&_violet
		border-color: $violet
		&:after
			background: rgba(142, 119, 154, 0.6)
	&_orange
		border-color: $orange
		&:after
			background: rgba(#ff8c61, 0.5)
	&__title
		position: absolute
		bottom: 0
		left: 0
		right: 0
		z-index: 1
		padding: 40px 15px
		+r3
			position: relative
	&__subtitle
		font-size: 56px
		line-height: 1
		padding: 5px 0 15px
		+bold
		+r3
			font-size: 23px
			line-height: 27px
	&__author
		+light
		font-size: 14px
		color: #ccc
		transition: color 0.25s
		margin-bottom: 5px
	&__info
		font-size: 18px
		max-width: 740px
		margin: 0 auto
		+r3
			font-size: 16px

.col-news, .col-more, .news-column, .col-items
	display: inline-block
	vertical-align: top
	padding: 0 15px
.col-news
	width: 33.33%
.col-more
	width: 66.67%
.col-news, .col-more
	+r2
		width: 100%
	.h2
		padding: 20px 0 30px
		border-bottom: 1px solid #9bc1bc
		margin-bottom: 55px
		+r3
			text-align: center
.col-items
	width: 50%
	+r3
		width: 100%
