.main
	padding: 30px 15px
	&__row
		margin: 0 -15px
		+clr
	&__content, &__sidebar
		padding: 0 15px 
		float: left
	&__sidebar
		width: 25%
	&__content
		width: 75%

.social
	border: 1px solid #e6e6e6
	padding: 19px 15px 15px
	text-align: center
	margin-bottom: 30px
	&__title
		font-size: 22px
		line-height: 1.18
		+medi
		&:after
			width: 38px
			border-bottom: 3px solid #e6e6e6
			margin: 11px auto 15px
			display: block
			content: "" 
	&__list
		font-size: 0
		li
			display: inline-block
			vertical-align: top
			padding: 5px 
		a
			display: block
			color: #fff
			width: 40px
			height: 40px
			padding: 9px 0 7px
			text-align: center  
			&.is-fb
				background-color: #3b5998
			&.is-tw
				background-color: #55acee
			&.is-vk
				background-color: #45668e
			&.is-od
				background-color: #ed812b
		i
			font-size: 24px 

.news-main
	&__title
		font-size: 14px
		line-height: 20px
		padding-left: 23px
		position: relative
		+light
		i
			color: #9bc1bc
			font-size: 18px
			position: absolute
			top: 0
			left: 0
	&__link
		color: #9bc1bc
		+roboto
		font-size: 18px
		line-height: 1
		position: relative
		display: inline-block
		vertical-align: top
		padding-right: 20px
		i
			position: absolute
			top: 1px
			right: 0
	&__list
		max-height: 1387px
		overflow: hidden
		position: relative
		margin-bottom: 15px
		&:before
			content: "" 
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: 100px
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%)
			

.news-item
	border-bottom: 1px solid #e6e6e6
	padding: 25px 0  
	&:first-child
		padding-top: 22px
	&:last-child
		border: none
	&__title
		font-size: 20px
		line-height: 22px
		+med
		margin-bottom: 10px
	p
		font-size: 16px
		line-height: 20px
		+light
		margin-bottom: 10px
	time
		display: block

.item-lg
	padding: 60px 30px 37px
	position: relative
	+cover
	+r3
		padding: 60px 15px 30px 
	&:before
		content: "" 
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-image: linear-gradient(180deg, rgba(64, 38, 57, 0.7) 0%, rgba(62, 36, 55, 0.85) 100%)
		z-index: 1
		
	.btn
		position: absolute
		top: 10px
		left: -5px
		z-index: 2
		background: #fff 
	&__in
		position: relative
		z-index: 1
		+clr
	&__box, &__slider
		float: left
		+r2
			float: none
	&__box
		background-color: rgba(255, 255, 255, 0.9)
		width: 31%
		padding: 25px 20px 32px 28px 
		+r1
			padding: 21px 17px 32px 
			width: 30%
		+r2
			width: auto
			margin: 0 20px 20px
		+r3
			margin: 0 0 20px
		p
			font-size: 18px
			+light
			line-height: 24px
			+r1
				font-size: 16px
				line-height: 20px
	&__slider
		width: 69%
		padding: 0 20px 0 71px
		+r1
			width: 70%
			padding: 0 15px 0 54px 
		+r2
			width: auto
			padding: 0 20px 
		+r3
			padding: 0 
	&__title
		font-size: 52px
		line-height: 1
		+bold
		margin-bottom: 22px
		+r1
			font-size: 38px

.slider
	max-width: 100% 
	width: 760px
	min-height: 350px
	position: relative
	&:before, &:after
		content: "" 
		position: absolute
		left: 0
		right: 0
		height: calc(50% - 25px)
		border: 1px solid #fff
		+r3
			height: 50%
	&:before
		top: 0
		border-bottom: none
	&:after
		bottom: 0
		border-top: none
	&__in
		min-height: 350px
		position: relative
		z-index: 2
	&__prev, &__next
		position: absolute
		top: 50%
		margin-top: -25px
		width: 50px
		height: 50px
		border: 1px solid #fff
		border-radius: 50%
		font-size: 32px
		color: #fff
		background: none  
		cursor: pointer
		z-index: 10
		transition: all 0.2s
		+r3
			display: none !important
		&:hover
			background-color: #f2c05e
			border-color: #f2c05e
	&__prev
		left: -24px
		i
			margin-right: 4px
	&__next
		right: -24px
		i
			margin-left: 4px
	.slick-dots
		z-index: 10
		bottom: 40px
		font-size: 0
		li
			padding: 0
			margin: 0 5px  
			&.slick-active
				button
					background: #fff 
			button
				width: 12px
				height: 12px
				border: 1px solid #fff
				background: none

.slide
	color: #fff
	padding: 53px 110px 72px
	position: relative
	z-index: 3
	+r1
		padding: 45px 45px 70px 
	+r3
		padding: 20px 15px 70px 
	&__title
		font-size: 36px
		line-height: 1
		+lorai
		margin-bottom: 55px
		+r1
			font-size: 32px
			line-height: 36px
		+r3
			font-size: 24px
			line-height: 26px
			margin-bottom: 30px
		+r4
			font-size: 20px
			line-height: 24px
	&__author
		font-size: 0
		+clr
	&__img, &__name
		display: inline-block
		vertical-align: middle
	&__img
		width: 70px
		height: 70px
		border-radius: 50%
		overflow: hidden
		margin-right: 20px
		+r3
			width: 60px
			height: 60px
			margin-right: 15px
			float: left
		img
			width: 100%
			height: 100%
			border-radius: 50%
	&__name
		font-size: 18px
		line-height: 21px
		+med
		+r3
			display: block
			padding: 20px 0 20px 75px
		+r3
			font-size: 16px
			+reg
	&__line
		overflow: hidden
		position: relative
		height: 14px
		margin-bottom: 15px
		&:before, &:after
			content: "" 
			position: absolute
			top: 0
			border-top: 2px solid #fff 
			width: 300px
		&:before
			left: -115px
			+r3
				width: 200px
		&:after
			left: 240px
			+r3
				left: 140px
				width: 500px
		span
			height: 14px
			margin-left: 185px
			width: 55px
			border-left: 2px solid #fff
			display: block 
			position: relative
			+r3
				margin-left: 85px
			&:before
				content: "" 
				position: absolute
				bottom: 0
				left: 0
				border-bottom: 2px solid #fff
				width: 100px 
				transform-origin: bottom left
				transform: rotate(-13deg)