.main
	padding: 30px 15px
	&-in
		padding: 30px 15px 50px
	&__row
		margin: 0 -15px
		+clr
	&__content, &__sidebar
		padding: 0 15px
		float: left
	&__sidebar
		width: 25%
	&__content
		width: 75%

.social
	border: 1px solid #e6e6e6
	padding: 19px 15px 15px
	text-align: center
	margin-bottom: 30px
	+r3
		max-width: 320px
		margin: 0 auto 30px
	&__title
		font-size: 22px
		line-height: 1.18
		+medi
		a
			display: inline-block
			+tr(color .3s)
			&:hover
				color: $mint
		&:after
			width: 38px
			border-bottom: 3px solid #e6e6e6
			margin: 11px auto 15px
			display: block
			content: ""

	&__list
		font-size: 0
		li
			display: inline-block
			vertical-align: top
			padding: 5px
		a
			display: block
			color: #fff
			width: 40px
			height: 40px
			padding: 9px 0 7px
			text-align: center
			+tr(transform .3s)
			&.is-fb
				background-color: #3b5998
				&:hover
					transform: scale(1.2)
			&.is-tw
				background-color: #55acee
				&:hover
					transform: scale(1.2)
			&.is-vk
				background-color: #45668e
				&:hover
					transform: scale(1.2)
			&.is-od
				background-color: #ed812b
				&:hover
					transform: scale(1.2)
		i
			font-size: 24px

.news-main
	margin-bottom: 30px
	&__title
		font-size: 14px
		line-height: 20px
		padding-left: 23px
		position: relative
		+light
		i
			color: #9bc1bc
			font-size: 18px
			position: absolute
			top: 0
			left: 0
	&__link
		color: #9bc1bc
		+roboto
		font-size: 18px
		line-height: 1
		position: relative
		display: inline-block
		vertical-align: top
		padding-right: 20px
		i
			position: absolute
			top: 1px
			right: 0
	&__wrap
		margin-bottom: 15px
		position: relative
		overflow: hidden
		&:before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: 100px
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%)
			z-index: 1
	&__list
		max-height: 1387px
		+r1
			max-height: 1210px
		.news-item
			&:last-child
				border: none

.scroll
	position: relative
	overflow: hidden
	&.ps-active-y
		padding-right: 10px
	&:hover, &.ps-in-scrolling
		.ps-scrollbar-y, .ps-scrollbar-x
			opacity: 1
	.ps-scrollbar-x-rail, .ps-scrollbar-y-rail
		position: absolute
		z-index: 2
	.ps-scrollbar-y
		width: 8px
	.ps-scrollbar-x
		height: 8px
	.ps-scrollbar-y, .ps-scrollbar-x
		position: relative
		background: rgba(#000, 0.3)
		opacity: 0
		transition: opacity 0.2s

.news-item
	border-bottom: 1px solid #e6e6e6
	padding: 25px 0
	&:first-child
		padding-top: 22px
	&__link
		display: block
		+clr
		color: #282828
		transition: color 0.25s
		&:hover
			color: $red
	&__img
		float: right
		width: 160px
		font-size: 0
		margin: 5px 0 0 10px
		img
			width: 100%
	&__title
		font-size: 20px
		line-height: 22px
		+med
		margin-bottom: 10px
		+r3
			font-size: 18px
	p
		font-size: 16px
		line-height: 20px
		+light
		margin-bottom: 10px
		+r3
			font-size: 15px
	time
		display: block

.item-lg
	padding: 60px 30px 37px
	position: relative
	+cover
	+r3
		padding: 60px 20px 30px
		margin: 0 -15px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-image: linear-gradient(180deg, rgba(64, 38, 57, 0.7) 0%, rgba(62, 36, 55, 0.85) 100%)
		z-index: 1

	.btn
		position: absolute
		top: 10px
		left: -5px
		z-index: 2
		background: #fff
		+r3
			left: 15px
	&__in
		position: relative
		z-index: 1
		+clr
	&__box, &__slider
		float: left
		+r2
			float: none
	&__box
		background-color: rgba(255, 255, 255, 0.9)
		width: 31%
		padding: 25px 20px 32px 28px
		+r1
			padding: 21px 17px 32px
			width: 30%
		+r2
			width: auto
			margin: 0 20px
		+r3
			margin: 0
		p
			font-size: 18px
			+light
			line-height: 24px
			+r1
				font-size: 16px
				line-height: 20px
	&__slider
		width: 69%
		padding: 0 20px 0 71px
		+r1
			width: 70%
			padding: 0 15px 0 54px
		+r2
			width: auto
			padding: 0 20px
		+r3
			padding: 0
	&__title
		font-size: 52px
		line-height: 1
		+bold
		margin-bottom: 22px
		+r1
			font-size: 38px

.slider
	max-width: 100%
	width: 760px
	min-height: 350px
	position: relative
	+r2
		min-height: 1px
	&:before, &:after
		content: ""
		position: absolute
		left: 0
		right: 0
		height: calc(50% - 25px)
		border: 1px solid #fff
		+r3
			height: calc(50% - 20px)
	&:before
		top: 0
		border-bottom: none
	&:after
		bottom: 0
		border-top: none
	&__in
		min-height: 350px
		position: relative
		z-index: 2
		+r2
			min-height: 1px
	&__prev, &__next
		position: absolute
		top: 50%
		margin-top: -25px
		width: 50px
		height: 50px
		border: 1px solid #fff
		border-radius: 50%
		font-size: 32px
		color: #fff
		background: none
		cursor: pointer
		z-index: 10
		transition: all 0.2s
		+r3
			width: 40px
			height: 40px
			margin: -20px 0 0
			font-size: 25px
		&:hover
			background-color: #f2c05e
			border-color: #f2c05e
	&__prev
		left: -24px
		+r3
			left: -19px
		i
			margin-right: 4px
	&__next
		right: -24px
		+r3
			right: -19px
		i
			margin-left: 4px
	.slick-dots
		z-index: 10
		bottom: 40px
		font-size: 0
		li
			padding: 0
			margin: 0 5px
			&.slick-active
				button
					background: #fff
			button
				width: 12px
				height: 12px
				border: 1px solid #fff
				background: none

.slide
	color: #fff
	padding: 53px 110px 72px
	position: relative
	z-index: 3
	+r1
		padding: 45px 45px 70px
	+r3
		padding: 20px 30px 70px
	&__title
		font-size: 36px
		line-height: 1
		+lorai
		margin-bottom: 55px
		+r1
			font-size: 32px
			line-height: 36px
		+r3
			font-size: 24px
			line-height: 26px
			margin-bottom: 30px
			text-align: center
		+r4
			font-size: 22px
	&__author
		font-size: 0
		+clr
	&__img, &__name
		display: inline-block
		vertical-align: middle
	&__img
		width: 70px
		height: 70px
		border-radius: 50%
		overflow: hidden
		margin-right: 20px
		+r3
			width: 60px
			height: 60px
			margin-right: 15px
			float: left
		img
			width: 100%
			height: 100%
			border-radius: 50%
	&__name
		font-size: 18px
		line-height: 21px
		+med
		+r3
			display: block
			padding: 20px 0 20px 75px
		+r3
			font-size: 16px
			+reg
	&__line
		overflow: hidden
		position: relative
		height: 14px
		margin-bottom: 15px
		&:before, &:after
			content: ""
			position: absolute
			top: 0
			border-top: 2px solid #fff
			width: 300px
		&:before
			left: -115px
			+r3
				width: 200px
		&:after
			left: 240px
			+r3
				left: 140px
				width: 500px
		span
			height: 14px
			margin-left: 185px
			width: 55px
			border-left: 2px solid #fff
			display: block
			position: relative
			+r3
				margin-left: 85px
			&:before
				content: ""
				position: absolute
				bottom: 0
				left: 0
				border-bottom: 2px solid #fff
				width: 100px
				transform-origin: bottom left
				transform: rotate(-13deg)

.load-more
	position: relative
	margin-top: 35px
	border-top: 1px solid #9bc1bc
	background-color: #e4eae9
	.btn-load
		margin-top: -25px
		margin-bottom: 15px
	&__section
		+r3
			max-width: 320px
			margin: 0 auto
		&:last-child
			&:after
				display: none
		&:after
			content: ""
			display: block
			width: 100%
			max-width: 300px
			margin: 0 auto 30px
			border-bottom: 2px solid #9bc1bc
	&__title
		font-size: 14px
		letter-spacing: 0.2em
		line-height: 15px
		+med
		text-transform: uppercase
		padding: 0 15px 15px
	.main
		padding-bottom: 0
.btn-load
	max-width: 410px
	width: 100%
	padding: 16px
	background-color: #9bc1bc
	border-radius: 2px
	color: #fff
	line-height: 1
	cursor: pointer
	font-size: 0
	display: block
	margin: 0 auto
	+r3
		max-width: 290px
	&:hover
		background: darken(#9bc1bc, 5%)
	&:active
		background: darken(#9bc1bc, 10%)
	span
		font-size: 18px
	i
		font-size: 20px
		margin-right: 17px

.blockquote
	height: 462px
	border: 1px solid
	position: relative
	text-align: center
	margin-bottom: 30px
	+r1
		height: 402px
	+r3
		max-width: 320px
		margin: 0 auto 30px
		height: 370px
	&_red
		border-color: #d27857
		&:hover
			.blockquote__text
				p
					color: #d27857
		.blockquote
			&__info
				color: #d27857
			&__text
				&:before, &:after
					color: #d27857
	&_yellow
		border-color: #f2c05e
		&:hover
			.blockquote__text
				p
					color: #f2c05e
		.blockquote
			&__info
				color: #f2c05e
			&__text
				&:before, &:after
					color: #f2c05e
	&_violet
		border-color: #c0a6cd
		&:hover
			.blockquote__text
				p
					color: #c0a6cd
		.blockquote
			&__info
				color: #c0a6cd
			&__text
				&:before, &:after
					color: #c0a6cd
	.btn
		position: absolute
		top: 10px
		left: -5px
	&__link
		display: block
		height: 100%
		padding: 57px 20px 17px
		overflow: hidden
		+r1
			padding: 43px 20px 15px
	&__info
		font-size: 16px
		line-height: 18px
		+med
		+r1
			font-size: 14px
	&__text
		max-width: 340px
		quotes: "\201C""\201D"
		margin: 0 auto
		position: relative
		padding: 50px 0
		+r3
			padding: 45px 0 40px
		&:before, &:after
			font-size: 72px
			+lorab
			line-height: 40px
			position: absolute
			left: 0
			right: 0
			text-align: center
			+r1
				font-size: 54px
		&:before
			content: open-quote
			top: 25px
			+r1
				top: 15px
		&:after
			content: close-quote
			bottom: -15px
			+r1
				bottom: -5px
			+r3
				bottom: -15px
		p
			+lorai
			font-size: 20px
			line-height: 28px
			color: #282828
			max-height: 252px
			overflow: hidden
			transition: color 0.25s
			+r1
				font-size: 17px
				line-height: 20px
				max-height: 200px
			+r3
				font-size: 16px

.item-banner
	padding: 0 30px
	color: #fff
	position: relative
	margin-bottom: 20px
	+r3
		max-width: 320px
		margin: 0 auto 20px
		padding: 150px 20px 30px
	&__bg
		background-position: right center
		background-repeat: no-repeat
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		+r1
			background-size: cover
		+r2
			background-position: center
		+r3
			background-size: contain
			background-position: top center
	&_blue
		background-color: #051431
		.item-banner
			&__bg
				+r3
					height: 140px
					bottom: auto
				&:before
					content: ""
					position: absolute
					top: 0
					bottom: 0
					left: 340px
					width: 230px
					background-image: linear-gradient(to right, #051431 0%, rgba(5, 20, 49, 0) 100%)
					+r1
						left: 0
						right: 0
						margin: 0
						width: auto
					+r3
						display: none
	&_yellow
		background-color: #f2cd42
		.item-banner
			&__bg
				&:before
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					background-color: rgba(58, 34, 48, 0.44)
					border: 1px solid #979797
					content: ""
	.btn
		position: absolute
		top: 10px
		left: -5px
		z-index: 10
		background: #fff
	&__left
		position: relative
		max-width: 380px
		padding: 70px 0 30px
		z-index: 1
		+r1
			position: static
			max-width: 270px
			padding: 60px 0 30px
		+r3
			padding: 0
		&-in
			position: relative
			z-index: 2
	&__title, &__subtitle, &__title_mod
		+bold
	&__title
		font-size: 52px
		line-height: 1
		letter-spacing: 5px
		+r1
			font-size: 38px
			line-height: 1.2
			margin-bottom: 5px
	&__subtitle
		font-size: 22px
		line-height: 31px
		margin-bottom: 20px
		+r1
			font-size: 18px
			line-height: 26px
			margin-bottom: 5px
	&__title_mod
		font-size: 48px
		line-height: 1
		margin-bottom: 10px
		+r1
			font-size: 38px
			line-height: 42px
		+r3
			font-size: 30px
			line-height: 35px
	p
		font-size: 18px
		line-height: 24px
		+light
		margin-bottom: 35px
		+r1
			font-size: 16px
			line-height: 20px
			margin-bottom: 23px
	&__btn
		display: block
		width: 100%
		border: 3px solid #ff8c61
		color: #ff8c61
		font-size: 22px
		line-height: 1
		text-align: center
		padding: 16px
		position: relative
		transition: border .3s, color .3s
		z-index: 1
		&:before
			content: ''
			position: absolute
			left: 0
			top: 0
			bottom: 0
			width: 0
			background: $orange
			z-index: -1
			+tr(width .3s)
		+r3
			font-size: 20px
			padding: 17px
		&:hover
			color: #fff
			&:before
				width: 100%
		&_full
			background-color: #ff8c61
			color: #fff
			border: 0
			padding: 19px 16px
			&:before
				background: #E17952
			&:hover
				&:before

.item-image
	position: relative
	padding: 117px 30px 83px
	margin-bottom: 20px
	+r3
		padding: 170px 0 0
		max-width: 320px
		margin: 0 auto 20px
	+r4
		padding-top: 150px
	&__bg
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		+cover
		+r3
			background-size: contain
			background-position: top center
			bottom: auto
			height: 170px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: rgba(58, 34, 48, 0.44)
			border: 1px solid #979797
	.btn
		position: absolute
		top: 10px
		left: -5px
		background: #fff
		z-index: 2

.box-form
	position: relative
	z-index: 2
	background-color: rgba(255, 255, 255, 0.9)
	border-radius: 6px
	padding: 20px 40px 33px
	max-width: 380px
	+r1
		max-width: 270px
		padding: 20px 20px 30px
	+r3
		max-width: 100%
		background: #fff
		padding: 20px 25px 25px
		border-radius: 0
	&__title, &__subtitle
		+bold
	&__title
		font-size: 52px
		line-height: 1.2
		+r1
			font-size: 38px
			line-height: 42px
	&__subtitle
		font-size: 22px
		line-height: 1
		max-width: 240px
		margin-bottom: 35px
		+r1
			font-size: 18px
			line-height: 26px
			margin-bottom: 15px
	&__field
		margin-bottom: 19px
	&__btn
		background-color: #ff8c61
		display: inline-block
		vertical-align: top
		text-align: center
		width: 100%
		+med
		color: #fff
		font-size: 17px
		line-height: 21px
		padding: 13px 12px 12px
		+tr(background .3s)
		position: relative
		z-index: 1
		&:before
			content: ''
			position: absolute
			top: 0
			bottom: 0
			left: 0
			width: 0
			z-index: -1
			background: #E17952
			+tr(width .3s)
		&:hover
			&:before
				width: 100%
	p
		font-size: 16px
		line-height: 18px
		+light
		padding: 5px 0 0
		a
			color: #ff8c61
			text-decoration: underline
			&:hover
				text-decoration: none

.select
	color: #282828
	font-size: 18px
	line-height: 21px
	position: relative
	cursor: pointer
	&.is-active
		.select
			&__list
				display: block
		i
			transform: rotate(180deg)
	select
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		width: 100%
		height: 100%
		opacity: 0
	&__text
		+regi
		padding: 12px 35px 11px 14px
		border: 1px solid #ff8c61
		position: relative
		z-index: 1
	i
		position: absolute
		top: 50%
		right: 22px
		font-size: 14px
		margin-top: -7px
		color: #ff8c61
	&__list
		position: absolute
		top: 100%
		left: 0
		right: 0
		background: #fff
		+reg
		padding: 19px 18px 12px 14px
		display: none
		border: 1px solid #ff8c61
		border-top: none
		z-index: 200
		li
			padding: 10px 0
			border-top: 1px solid #e5e5e5
			transition: color 0.25s 
			&:hover
				color: #ff8c61
			&:first-child
				border-top: none

.main-head
	+light
	padding: 60px 15px 85px
	position: relative
	margin-bottom: 30px
	+r2
		padding: 20px 15px
	&__info
		max-width: 620px
		width: 40%
		position: relative
		z-index: 1
		+r1
			width: 43%
		+r2
			width: 100%
	&__title
		font-size: 46px
		line-height: 54px
		margin-bottom: 25px
		+r2
			font-size: 38px
			line-height: 1.1
			margin-bottom: 15px
	p
		font-size: 22px
		line-height: 26px
		color: #0e0e0e
		+r2
			font-size: 20px
			line-height: 25px
	&__img
		position: absolute
		top: 0
		bottom: 0
		right: 0
		width: 63%
		background-position: right center
		background-repeat: no-repeat
		+r1
			width: 70%
			background-size: contain
		+r2
			width: 100%
			padding-bottom: 40%
			position: relative
			background-position: center

.fullscreen-wrap
	display: block

.fullscreen
	min-height: 100vh
	display: table
	width: 100%
	position: relative
	color: #fff
	+cover
	+r2
		display: block
		min-height: 1px
	&:before, &:after
		position: absolute
		content: ""
	&:before
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-image: linear-gradient(180deg, rgba(30, 18, 27, 0.3) 0%, rgba(27, 16, 24, 0.66) 100%)
	&:after
		top: 27px
		left: 21px
		right: 21px
		bottom: 30px
		border: 1px solid
		+r2
			display: none
	&:hover
		.fullscreen
			&__hidden
				max-height: 100px
				opacity: 1
				overflow: hidden
	&_yellow
		&:after
			border-color: $gold
	&_violet
		+r2
			min-height: 368px
		.fullscreen
			&__center
				+r2
					max-width: 500px
			&__inner
				+r2
					position: absolute
					bottom: 0
					left: 0
					right: 0
					padding-bottom: 10px
		&:after
			border-color: $violet
			+r2
				display: block
				top: 15px
				left: 15px
				right: 15px
				bottom: 18px
	&_red
		.fullscreen
			&__inner
				+r3
					padding: 30px 10px
			&__center
				padding-bottom: 15px
		&:after
			border-color: $red
	&__inner
		display: table-cell
		vertical-align: bottom
		position: relative
		z-index: 1
		height: 100vh
		padding: 27px 21px 30px
		overflow: hidden
		+r2
			display: block
			vertical-align: top
			padding: 15px 15px 18px
			height: auto
	&__center
		max-width: 1110px
		margin: 0 auto
		padding: 45px 10px 45px
		+r2
			padding: 15px
	.slider
		margin: 0 auto 60px
		background-image: linear-gradient(180deg, rgba(55, 33, 49, 0.6) 0%, rgba(53, 31, 47, 0.8) 100%)
		&__prev, &__next
			background: rgba(53, 31, 47, 1)
			&:hover
				background: $gold
	.slide
		position: relative
	&__title
		+bold
		font-size: 64px
		line-height: 72px
		margin-bottom: 15px
		+r1
			font-size: 52px
			line-height: 1.2
		+r2
			font-size: 28px
			line-height: 1
	p
		font-size: 18px
		line-height: 24px
		+light
		+r2
			font-size: 16px
			line-height: 22px
	&__hidden
		max-height: 0
		opacity: 0
		overflow: hidden
		transition: max-height 0.4s, opacity 0.2s
		text-align: center
		+r2
			max-height: 100px
			opacity: 1
	h4
		font-size: 24px
		line-height: 1
		+light
		max-width: 840px
		margin: 0 auto
		+r1
			max-width: 740px
		+r2
			font-size: 20px
	&__info
		text-align: center
	&__author
		font-size: 14px
		line-height: 17px
		color: #ccc
		margin-bottom: 10px
	&__link
		color: #fff
		display: block
		padding-bottom: 10px
		position: relative
		&:before
			position: absolute
			bottom: 100%
			left: 0
			right: 0
			height: 2000px
			content: ""

.info-block
	background-color: #fff
	display: block
	text-align: center
	padding: 15px 15px 27px
	position: relative
	transition: color 0.2s
	&:hover
		.info-block
			&__author
				text-decoration: none
	&__arr
		overflow: hidden
		height: 20px
		position: absolute
		bottom: 100%
		left: 0
		right: 0
		&:before, &:after
			content: ""
			position: absolute
			bottom: 0
			border-style: solid
			border-width: 9px 9px 10px
			border-color: transparent transparent #fff
		&:before
			left: -15px
			right: 50%
		&:after
			left: 50%
			right: -15px
	&_red
		.info-block
			&__author
				color: #d27857
		&:hover
			color: #d27857
			p
				color: #d27857
	&__author
		font-size: 14px
		line-height: 17px
		text-decoration: underline
		margin-bottom: 15px
		+regi
	&__title
		font-size: 22px
		line-height: 26px
		margin-bottom: 10px
		+lora
		max-height: 26px
		overflow: hidden
		+r3
			font-size: 20px
			line-height: 24px
			max-height: 24px
	&__user
		max-width: 500px
		margin: 0 auto
		text-align: left
	&__img
		width: 60px
		height: 60px
		border-radius: 50%
		overflow: hidden
		margin-right: 18px
		float: left
		img
			border-radius: 50%
	&__text
		padding: 12px 0
		overflow: hidden
		p
			color: #282828
			font-size: 16px
			line-height: 18px
			+light
			transition: color 0.2s
			max-height: 36px
			overflow: hidden
			+r2
				line-height: 18px

.item-full
	background: #FFF
	border: 1px solid #000
	position: relative
	display: block
	height: 672px
	+cover
	text-align: center
	color: #fff
	margin-bottom: 30px
	+r3
		height: auto
	&:hover
		&:after
			opacity: 1
		&:before
			opacity: 0
		.item-full
			&__author
				color: #fff
			&__hidden
				max-height: 100px
				opacity: 1
	&:before, &:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		transition: opacity 0.25s
	&:before
		background-image: linear-gradient(to top, rgba(47, 28, 42, 0.5) 0%, rgba(45, 26, 40, 0.76) 100%)
	&:after
		opacity: 0
	&_gold
		border-color: $gold
		&:after
			background: rgba(242,192,94,0.80)
	&_red
		border-color: $red
		&:after
			background: rgba(210,120,87,0.80)
	&_violet
		border-color: $violet
		&:after
			background: rgba(142, 119, 154, 0.6)
	&_orange
		border-color: $orange
		&:after
			background: rgba(#ff8c61, 0.5)
	&__title
		position: absolute
		bottom: 0
		left: 0
		right: 0
		z-index: 1
		padding: 40px 15px
		+r3
			position: relative
	&__subtitle
		font-size: 56px
		line-height: 1
		padding: 5px 0 15px
		+bold
		+r3
			font-size: 23px
			line-height: 27px
	&__author
		+light
		font-size: 14px
		color: #ccc
		transition: color 0.25s
		margin-bottom: 5px
	&__info
		font-size: 18px
		max-width: 740px
		margin: 0 auto
		+r3
			font-size: 16px
	&__hidden
		max-height: 0
		overflow: hidden
		opacity: 0
		transition: max-height 0.4s, opacity 0.3s

.col-news, .col-more, .news-column, .col-items
	display: inline-block
	vertical-align: top
	padding: 0 15px
.col-news
	width: 33.33%
.col-more
	width: 66.67%
.col-news, .col-more
	+r2
		width: 100%
	.h2
		padding: 20px 0 30px
		border-bottom: 1px solid #9bc1bc
		margin-bottom: 55px
		+r3
			text-align: center
.col-items
	width: 50%
	+r3
		width: 100%


.accordion
	&__block
		display: none
		.article
			padding-top: 15px

.special-projects
	margin-bottom: 30px
	&__list
		font-size: 0
		line-height: 1.1
		border-bottom: 1px solid #ff8c61 
		padding: 0 0 6px 
		li
			display: inline-block
			vertical-align: bottom
			position: relative
			margin-bottom: 10px
	&__heading, &__item
		width: 25%
	&__heading
		font-size: 24px
		color: #ff8c61
		+med
		+r1
			width: 100%
			display: block
		a
			color: #ff8c61
	&__item
		padding-left: 16px
		+r1
			width: 33.33% 
		+r3
			width: 100%
		&:before
			content: ""
			position: absolute 
			top: 2px
			bottom: 2px
			left: 0
			border-left: 6px solid #ff8c61
		a
			color: #282828
			transition: color 0.25s
			&:hover
				color: #ff8c61 
	&__title
		font-size: 22px
		+bold
	&__text
		font-size: 16px
	&__link
		display: block

.about
	max-width: 850px
	margin: 0 auto  
	&__top
		border-bottom: 2px solid #9bc1bc
		padding-bottom: 55px
		margin-bottom: 55px
		+r3
			padding-bottom: 30px
			margin-bottom: 30px 
		h1
			margin-bottom: 28px
		p
			color: #282828
			font-size: 20px
			line-height: 23px
			+med
			+r3
				font-size: 18px
				line-height: 1.3
	&__text
		color: #282828
		p
			+reg
			font-size: 18px
			line-height: 30px
			margin-bottom: 29px
			+r3
				font-size: 16px
				line-height: 1.6
				margin-bottom: 20px
			b
				+bold
			a
				color: #76938f
				&:hover
					text-decoration: underline
	h5
		line-height: 30px
		font-size: 24px
		+med
		margin-bottom: 9px

.send-message
	padding-bottom: 50px
	+clr
	font-size: 0
	label, &__label
		display: block
		margin-bottom: 7px
	&__label
		color: #282828
		font-size: 17px
		line-height: 20px
		+med
	&__text
		color: #9c9c9c
		font-size: 14px
		line-height: 18px
		max-width: 630px
		padding: 0 0 5px 
	&__row
		+clr
		padding: 20px 0 
		.captcha
			float: right
		.send-message__file
			float: left
	&__file
		padding: 8px 0 7px 
		.send-message__label
			margin-bottom: 18px
	&__bottom
		.btn-full
			max-width: 100%
	&__cols
		+clr
		margin: 0 -20px 
	&__col
		width: 50%
		float: left
		padding: 0 20px 10px
		+r3
			width: 100%
	&__field
		padding-bottom: 10px
	&__title
		color: #282828
		font-size: 24px
		line-height: 30px
		+med
		margin-bottom: 30px

.file
	color: #ff8c61
	font-size: 16px
	line-height: 18px
	display: inline-block
	vertical-align: top
	position: relative
	overflow: hidden
	padding-left: 20px
	cursor: pointer
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden
	i
		font-size: 14px
		position: absolute
		top: 2px
		left: 0
	span
		display: block

.captcha
	img
		max-width: 100%

.input-full, .textarea-full
	background-color: #f4f5f1
	border: 1px solid #9bc1bc
	width: 100%
	display: block
	color: #4a4a4a
	padding: 17px 15px 14px
	font-size: 14px
	+reg  
	&_white
		border-color: #d8d8d8
		background-color: #fff
	&_orange
		border-color: #ff8c61
		background-color: #fff
		

.textarea-full
	resize: none
	height: 160px

.btn-full
	width: 100%
	max-width: 302px
	background-color: #9bc1bc
	padding: 12px 10px 10px
	color: #fff
	font-size: 18px
	line-height: 1 
	+reg
	position: relative
	&:hover
		&:before
			width: 100%
	&:before
		content: "" 
		position: absolute
		top: 0
		bottom: 0
		left: 0
		width: 0
		transition: width 0.25s linear
		background: darken(#9bc1bc, 10%) 
	span
		position: relative
		z-index: 1
	&_orange
		background-color: #ff8c61
		&:before
			background: darken(#ff8c61, 10%) 
.photo
	width: 100%
	img
		width: 100%

.team-list
	line-height: 30px
	text-align: center
	+med
	padding: 20px 0 
	+r3
		line-height: 1.6
	li
		padding: 15px 0 
	span, small
		display: block
	small
		color: #949494
		font-size: 18px
		+r3
			font-size: 16px
	span
		color: #282828
		font-size: 22px
		+r3
			font-size: 18px

.all-news
	&__top
		padding: 50px 0 23px 
	&__section
		border-top: 1px solid #9bc1bc
	&__date
		color: #9bc1bc
		line-height: 1
		float: left
		width: 110px
		padding: 24px 0 0
		+r3
			width: 100%
			float: none
		span, small
			display: block
			+r3
				display: inline-block
				vertical-align: bottom
		span
			font-size: 52px
			+med
			+r3
				font-size: 42px
		small
			font-size: 16px
			+r3
				padding-bottom: 7px
	&__items
		overflow: hidden
	&__item
		color: #282828
		border-bottom: 1px solid #e6e6e6
		padding: 24px 0 25px 0
		+clr
		position: relative
		min-height: 178px
		+r3
			min-height: 1px
			padding: 20px 0 
		&_image
			padding-right: 180px 
			+r3
				padding-right: 0
		&:last-child
			border: none
	&__title
		font-size: 26px
		line-height: 30px
		+med
		margin: 0 0 5px 
		+r3
			font-size: 20px
			line-height: 22px
	&__text
		font-size: 18px
		line-height: 22px
		+light
		margin-bottom: 10px
		+r3
			font-size: 16px
			line-height: 20px
	&__time
		color: #b7b7b7
		font-size: 13px
		letter-spacing: 1.08px
		line-height: 16px
		+r3
			font-size: 11px
			line-height: 13px
			letter-spacing: 0.92px
	&__info
		overflow: hidden
	&__img
		width: 160px
		height: 117px
		+cover
		position: absolute
		top: 30px
		right: 0
		+r3
			width: 290px
			max-width: 100%
			position: relative
			top: auto
			height: 214px
			margin-top: 15px

.special
	color: #282828 
	position: relative
	&__text
		max-width: 635px
	&__letters
		font-size: 110px
		line-height: 95px
		margin: 0 0 -10px 
		+med
		float: left
		+r3
			font-size: 80px
			line-height: 90px
			margin: 0 0 -15px 
	p, li
		font-size: 18px
		line-height: 30px
		+r3
			font-size: 16px
			line-height: 1.6
		a
			color: #9bc1bc
	p, ul
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
			+r(1150)
				margin-bottom: 20px
	li
		padding-left: 35px 
		position: relative
		+r3
			padding-left: 17px
		&:before
			content: "" 
			position: absolute
			top: 12px
			left: 13px
			width: 6px
			height: 6px
			border-radius: 50%
			background: #9bc1bc
			+r3
				left: 0
	&__top
		padding-top: 27px

.side-photo
	padding-bottom: 20px
	border-bottom: 1px solid #9bc1bc
	&__img
		display: block
		margin-bottom: 8px
	img
		width: 100%
	&__text
		color: #b8b8b8
		font-size: 14px
		line-height: 16px
		+light
		position: relative
		padding-left: 30px
		&:before
			content: "" 
			position: absolute
			top: 2px
			left: 0
			width: 12px
			height: 12px
			background-color: #9bc1bc

.section-gray
	background-color: #f5f7f7
	padding: 30px 0 0 
	&_mod
		padding: 0

.special-side
	color: #282828
	padding: 20px 0 0 
	+r1
		padding: 22px 0 0 
	&__title
		font-size: 36px
		line-height: 38px
		+bold
		+r1
			font-size: 28px
			line-height: 1.2
	&__number, &__text
		+med
	&__number
		color: #000
		font-size: 72px
		line-height: 85px
		+r1
			font-size: 60px
			line-height: 1.2
	&__text
		color: #000
		font-size: 38px
		line-height: 46px
		+r1
			font-size: 28px
			line-height: 1.2
		+r2
			font-size: 24px
	p
		font-size: 16px
		line-height: 22px
		padding-top: 6px
	&__item
		padding: 21px 0 12px 68px
		position: relative
		+r1
			padding: 20px 0 12px 55px 
		i
			position: absolute
			top: 30px
			left: 0
			color: #ff8c61
		.fa-gavel
			font-size: 52px
			+r1
				font-size: 42px
		.fa-file-text-o
			font-size: 42px
			+r1
				font-size: 32px
			&:before
				z-index: 1
				position: relative
				background: #fff
				padding: 0 2px 1px 0  
			&:after
				content: "" 
				position: absolute
				top: 12px
				left: 10px
				width: 34px
				height: 38px
				border: solid 3px #ff8c61
				border-radius: 3px
				+r1
					width: 26px
					height: 28px
.side-text, .side-tooltip
	p
		color: #282828
.side-tooltip
	background-color: #fff2b8
	padding: 25px 7px 15px 25px
	margin-top: 26px
	+r3
		padding: 21px 25px 23px
		margin: 26px -15px 0  
	p
		line-height: 30px
		+bold
		font-size: 18px
		+r3
			line-height: 24px
.side-text
	margin: 20px 0
	p
		font-size: 16px
		line-height: 22px

.p-section
	min-height: 600px
	position: relative
	padding-left: 110px 
	+r1
		padding-left: 0
		min-height: 1px 
		padding: 20px 0 
	+r3
		padding: 0
	&_team
		min-height: 680px
		+r1
			min-height: 1px
	&__title
		color: #ff8c61
		font-size: 80px
		line-height: 1
		+med
		transform: rotate(-90deg) translate(-100%, 100%)
		position: absolute
		top: 0
		left: 0
		transform-origin: bottom left
		+r1
			position: relative
			transform: rotate(0) translate(0, 0)
		+r3
			font-size: 22px
			line-height: 26px
		
.graphics
	font-size: 0
	padding: 52px 0 20px 
	+r3
		padding: 10px 0 15px 
.graphic
	display: inline-block
	vertical-align: top
	width: 33.33%
	padding: 102px 10px 82px 30px
	+r2
		width: 50%
		padding: 0 10px 10px 0
	&__icon
		position: absolute
		top: -102px
		border: 1px solid #2020dc
		border-radius: 50%
		background: url(../img/graphic-bg.png)
		+r2
			display: none
		&.is-lg
			width: 298px
			height: 298px
			left: -30px
		&.is-md
			width: 153px
			height: 153px
		&.is-sm
			width: 43px
			height: 43px
			top: -43px
		&.is-md, &.is-sm
			left: 50%
			transform: translateX(-50%)
	&__text
		position: relative
		max-width: 270px  
		&-in
			position: relative
			z-index: 1
			padding: 9px 12px 11px 19px
			background-color: #fff
			+r2
				padding: 0
	h5, p
		color: #282828
		line-height: 22px
	h5
		font-size: 20px
		+bold
		margin-bottom: 4px
		+r3
			font-size: 14px
			line-height: 17px
	p
		font-size: 16px
		+r3
			font-size: 12px
			line-height: 12px
	&__number
		color: #2020dc
		font-size: 44px
		line-height: 52px
		+med
		position: absolute
		top: 100%
		left: 0
		right: 0
		z-index: 1
		padding: 0 20px 
		+r2
			position: relative
			top: auto
			padding: 0
		+r3
			font-size: 22px
			line-height: 26px

.p-team
	font-size: 0
	padding: 64px 0 0 60px
	+r1
		padding: 50px 0 0 
	+r2
		padding: 15px 0 26px

.team-user
	display: inline-block
	vertical-align: top
	width: 25%
	padding-bottom: 12px
	+r2
		width: 50%
	+r3
		width: 100%
	&__img
		display: block
		width: 103px
		height: 205px
		+cover
		margin-bottom: 20px
		+r3
			float: left
			margin: 0 20px 0 0 
			width: 90px
			height: 179px
	h5
		font-size: 20px
		line-height: 24px
		+bold
		max-width: 170px
		margin-bottom: 20px
		+r3
			margin-bottom: 10px
	p
		font-size: 16px
		line-height: 18px
	&__text
		max-width: 190px
		+r2
			max-width: 100%
		+r3
			overflow: hidden
			padding: 10px 0 