// search
.search
	position: relative
	display: block
	margin: 5px 0
	input
		display: block
		width: 100%
		padding: 18.5px 18px 18.5px 108px
		font-size: 42px
		background: #f4f5f1
		+bold
		appearance: none
		&::-webkit-search-cancel-button
			cursor: pointer
	&__btn
		position: absolute
		top: 50%
		left: 17px
		margin-top: -30.5px
		font-size: 61px
		background: none
		color: #9bc1bc
		line-height: 1
		cursor: pointer
	+r3
		&__btn
			font-size: 35px
			margin-top: -17.5px
		input
			padding-left: 70px
			font-size: 25px

// filter
.filter
	&__bl
		padding: 20px 0
		font-size: 16px
		border-bottom: 1px solid #e4eae9
		+light
		+clr
	&__el
		margin-top: 5px
		+clr
	&__name
		float: left
		min-width: 88px
		margin-right: 20px
		color: #282828
	&__info
		font-size: 0
		overflow: hidden
		p
			font-size: 16px
	&__tag
		display: inline-block
		margin-right: 10px
		text-transform: uppercase
		font-size: 16px
		color: #9bc1bc
		letter-spacing: 1.2px
		+bold
		&:hover
			text-decoration: underline
	&__num
		white-space: nowrap
	.sort
		float: right
		margin-left: 20px
	+r2
		.sort
			float: none
			margin: 0 0 20px 0
	+r4
		.sort__tag,
		.sort__bl
			display: block
		.sort__tag
			margin-bottom: 10px

// sort
.sort
	font-size: 0
	&__tag,
	&__bl
		display: inline-block
		vertical-align: middle
	&__tag
		margin-right: 10px
		font-size: 16px
	&__bl
		margin: 0 -5px
		font-size: 0
	&__tab
		display: inline-block
		margin: 0 5px
		padding: 7px 15px
		font-size: 14px
		vertical-align: middle
		+reg
		&.is-active
			background: #9bc1bc
			color: #FFF

// search results
.textbl
	display: block
	padding: 21px 0
	border-bottom: 1px solid #e4eae9
	+clr
	&:hover
		.textbl__ttl
			color: $mint
	&_no-border
		border-color: transparent
	&__inner
		max-width: 80%
		padding-right: 15px
	&__ttl
		margin-bottom: 7px
		font-size: 21px
		+bold
		+tr(color 0.2s)
		span
			color: $mint
	&__txt
		font-size: 18px
		color: #353535
		line-height: 1.5
		+lora
	&__img
		float: right
		width: 190px
		margin: 15px 0
		img
			width: 100%
	&__tags
		font-size: 0
		margin-top: 20px
	&__name
		margin-right: 20px
		text-transform: uppercase
		font-size: 14px
		&.textbl_violet
			color: $violet
		&.textbl_red
			color: $red
		&.textbl_mint
			color: $mint
	&__author
		margin-right: 20px
		font-size: 14px
		color: #293949
		+bold
	&__date
		font-size: 14px
		color: #AEB0B2
		white-space: nowrap
	&__highlight
		color: $mint
	+r2
		.textbl__img
			float: none
		.textbl__inner
			max-width: initial
			padding-right: 0

// more
.more
	padding: 35px 0
	background: #e4eae9
	&_white
		background: #fff 

