// typography
.article
	font-size: 18px
	line-height: 1.6
	a
		font-size: 18px
	p
		margin-bottom: 30px
	ul
		margin-bottom: 30px
		li
			position: relative
			color: #9bc1bc
			list-style-type: disc 
			font-size: 16px 
			margin-left: 30px 
			span
				color: #000
				font-size: 1.125em
				padding-left: 7px
