$indent: 30px
// typography
.article
	font-size: 18px
	line-height: 1.6
	&_serif
		+lora
	&__list
		&-num
			display: table-cell
			min-width: 108px
			text-align: center
			font-size: 68px
			color: #9bc1bc
			vertical-align: top
			letter-spacing: 7.25px
			line-height: 1
			+bold
		li
			display: table
			width: 100%
	&__option
		display: table-cell
		vertical-align: top
	&__inner
		padding: 0 55px
	h2
		+med
		margin-bottom: 7px
		font-size: 28px

	a
		font-size: 18px
	p
		margin-bottom: $indent
	p, li
		strong, b
			+lorab
	ul
		margin-bottom: $indent
		li
			position: relative
			color: #000
			padding-left: 37px
			&:before
				content: ''
				position: absolute
				top: 12px
				left: 12px
				width: 6px
				height: 6px
				background: #9bc1bc
				border-radius: 50%
		&.slick-dots
			li
				padding: 0
				&:before
					display: none
	figure
		border-bottom: 1px solid #9bc1bc
		padding-bottom: 20px
		margin-bottom: 20px
		&.figure_mb
			margin-bottom: 35px
		> img
			max-width: 100%
			display: block
			margin: 0 auto 10px
		.iframe-wrap
			position: relative
			margin-bottom: 10px
			padding-bottom: 55.25%
			height: 0
			overflow: hidden
			iframe
				position: absolute
				top: 0
				left: 0
				height: 100%
				width: 100%
	figcaption
		+light
		> .square
			float: left
			margin-top: 3px
		> p
			overflow: hidden
			padding-left: 15px
			line-height: 1.25
			font-size: 16px
			margin-bottom: 0
			+ p
				margin-bottom: 15px
			.meta
				display: block
				font-size: 14px
				+light
				line-height: 1.25
				padding-top: 3px
				margin-top: 5px
				&:only-child
					margin-top: 0
	blockquote
		margin-bottom: $indent
		text-align: center
		font-size: 28px
		line-height: 1.42
		padding: 55px 0
		position: relative
		display: block
		quotes: "\201C""\201D""\2018""\2019"
		+lorai
		&.blockquote_no-quotes
			&:before,
			&:after
				display: none
			p
				&:before,
				&:after
					width: 87px
					margin-left: -43.5px
		&:before,
		&:after
			position: absolute
			font-size: 96px
			line-height: 0.9
			color: #9bc1bc
			left: 50%
			margin-left: -40px
			background: #fff
			padding: 0 15px
			z-index: 2
			height: 40px
			+lorabi
		&:before
			content: open-quote
			top: 0
			margin-top: -7px
		&:after
			content: close-quote
			bottom: 0
		p
			margin-bottom: 0
			&:before,
			&:after
				content: ''
				width: 300px
				height: 1px
				background: #9bc1bc
				position: absolute
				left: 50%
				margin-left: -150px
				z-index: 1
			&:before
				top: 16px
			&:after
				bottom: 19px
	.man
		margin: 37px 0 10px
	.expand__link
		font-size: 30px
	+r5
		&__list-num
			min-width: 80px
	+r2
		&__inner
			padding: 0
	+r3
		font-size: 16px
		.man
			margin-top: 15px
	+r4
		ul li
			margin-left: 15px
		&__list li
			display: block
		&__option
			display: block
			+clr
		&__el
			clear: both
		&__list-num
			display: block
			float: left
			min-width: auto
			margin-right: 18px
			text-align: left
		blockquote
			font-size: 22px
			line-height: 1.85
		.h3
			margin: 5px 0 0
			line-height: 1.4
			overflow: hidden
		.expand__link
			font-size: 18px
