@import lib/mixins

// media
=r1
  @media only screen and (max-width: 1320px)
    @content

=r2
  @media only screen and (max-width: 990px)
    @content
=r3
  @media only screen and (max-width: 660px)
    @content
=r4
  @media only screen and (max-width: 480px)
    @content
=r5
  @media only screen and (max-width: 1150px)
    @content

// fonts
=fa
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


+font("Arial Rounded MT Bold", ArialRoundedMTBold)
+font("opensans-light", opensans-light)

//Arial rounded
=arb
  font-family: "Arial Rounded MT Bold", Arial, sans-serif

// lora-font
=lora
  font-family: 'Lora', serif
  font-weight: 400
=lorai
  font-family: 'Lora', serif
  font-weight: 400
  font-style: italic
=lorab
  font-family: 'Lora', serif
  font-weight: 700
=lorabi
  font-family: 'Lora', serif
  font-weight: 700
  font-style: italic

// 'Fira Sans' font
=fira
  font-family: "FiraSans-Regular", Arial, sans-serif

=reg
  font-family: "FiraSans-Regular", Arial, sans-serif

=regi
  font-family: "FiraSans-Italic", Arial, sans-serif

=light
  font-family: "FiraSans-Light", Arial, sans-serif
=lighti
  font-family: "FiraSans-LightItalic", Arial, sans-serif

=med
  font-family: "FiraSans-Medium", Arial, sans-serif

=medi
  font-family: "FiraSans-MediumItalic", Arial, sans-serif

=bold
  font-family: "FiraSans-Bold", Arial, sans-serif

=boldi
  font-family: "FiraSans-BoldItalic", Arial, sans-serif

=opsans-light
  font-family: "opensans-light", Arial, sans-serif

// colors
$violet: #c0a6cd
$gold: #f2c05e
$red: #d27857
$orange: #ff8c61
$mint: #9bc1bc
$text: #282828
$gray: #d8d8d8

=hover
  .no-touch &
    &:hover
      @content

.h1
  &_md
    font-size: 50px
    color: #657977
    +med

.h2
  &_md
    font-size: 36px
    color: $text
    +med
  &_sm
    font-size: 30px
    color: $text
    +med

.h3
  &_md
    font-size: 24px
    +med
    color: $text
.h4
  &_md
    font-size: 20px
    +med
    color: $text

.btn-full
  display: inline-block
  text-align: center
  &_grad-green
    box-shadow: 0 2px 0 #8da8a4
    border-radius: 3px
    background-image: linear-gradient(180deg, #9bc1bc 0%, #93b6b2 100%)
    &:before
      border-radius: 3px
      background: darken(#93b6b2, 10%)
  &_grad-orange
    box-shadow: 0 2px 0 #e77448
    border-radius: 3px
    background-image: linear-gradient(180deg, #ffa461 0%, #f67e25 100%)
    &:before
      border-radius: 3px
      background: darken(#ffa461, 10%)
  &_transparent-orange
    border: 1px solid $orange
    border-radius: 3px
    background-color: transparent
    color: $orange
    .no-touch &
      &:hover
        color: #fff
    &:before
      border-radius: 3px
      background: darken($orange, 10%)
  &_sm
    font-size: 16px

.footer
  &__warning
    color: $text
    +light
    font-size: 12px
    text-transform: uppercase
    padding-top: 38px
    padding-bottom: 38px
    text-align: center
    line-height: 1.5
    border-top: 1px solid  $gray

.select
  &_volonter
    .select__icon
      position: absolute
      top: 50%
      right: 16px
      margin-top: -3px
      +arr(12,6, #000, b)
    .select__text
      +reg
      font-size: 14px
      border: 1px solid  $gray
      border-radius: 3px
      min-height: 40px
      padding-top: 7px
      padding-bottom: 6px
    .select__list
      border: 1px solid  $gray

.checkbox
  &_volonter
    padding-left: 39px
    span
      font-size: 16px
      color: $text
      +reg
      &::before
        top: -2px
        width: 25px
        height: 25px
      &::after
        top: 4px
        left: 5px
        color: #fff
    input[type="checkbox"]:checked
      + span
        &::before
          border-color: $gray
          background-color: $orange

.pagination
  text-align: center
  &__link
    font-size: 14px
    color: $text
    border-radius: 3px
    border: 1px solid  $gray
    margin-left: 10px
    margin-right: 10px
    display: inline-block
    padding: 5px 10px
    &.is-disabled
      pointer-events: none
      border: none
      padding-left: 0
      padding-right: 0
      margin-left: 0
      margin-right: 0
    &.is-active
      color: $orange
      border-color: $orange

.add-time
  color: #b7b7b7
  font-size: 11px
  +reg
  text-transform: uppercase
  letter-spacing: .05em
  display: block

.feedback
  border-bottom: 1px solid  $gray
  padding-top: 29px
  padding-bottom: 39px
  &__person
    display: flex
    justify-content: flex-start
    align-items: center
    margin-bottom: 15px
  &__person-img
    +cover
    width: 50px
    height: 50px
    border-radius: 50%
  &__person-name
    font-size: 14px
    padding-left: 13px
    +med
    line-height: 1.3
    color: $text
    span
      color: #b7b7b7
      font-size: 11px
      +reg
      text-transform: uppercase
      letter-spacing: .05em
      display: block
  &__text
    font-size: 14px
    color: $text
    +reg

.user-container
  &_mod
  .user-left
    &__in
      width: 990px
      padding-right: 30px
  .user-right

.label
  font-size: 14px
  +med
  color: #fff
  position: relative
  display: inline-block  
  background-color: #d0021b
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2)  
  &::before,
  &::after
    position: absolute
    content: ''
    left: 0
    +arr(20,10, #d0021b, t)
  &::before
    top: 0
    transform: translate(-13px, -1px) rotate(45deg)
  &::after
    bottom: 0
    transform: translate(-13px, 1px) rotate(135deg)
  span
    display: inline-block
    position: relative
    height: 30px
    line-height: 30px
    padding-right: 50px
    padding-left: 20px
    &::before
      content: ''
      position: absolute
      +arr(8,5, #52010a, t)
      right: 0
      bottom: 0
      transform: translate(0, 4px) rotate(-45deg) 

.radio
  position: relative
  padding-left: 30px
  input[type="radio"]
    opacity: 0
    visibility: hidden
    position: absolute
  span
    color: $text
    cursor: pointer
    font-size: 18px
    +reg
    &::before
      content: ''
      display: inline-block
      position: absolute
      left: 0
      top: -3px
      margin-right: 7px
      width: 20px
      height: 20px
      background: #fff
      border: 1px solid #979797
      border-radius: 50%
    &::after
      content: ''
      display: none
      position: absolute
      width: 10px
      height: 10px
      background-color: $orange
      border-radius: 50%
      left: 5px
      top: 2px
  input[type="radio"]:checked
    + span
      &:after
        display: block

.section-filters-block
  padding-top: 35px
  padding-bottom: 45px
  &__top
    +clr
    margin-bottom: 30px
  &__title
    float: left    
  &__btn
    float: right
    min-width: 220px

.text-block
  font-size: 14px
  color: $text
  p
    margin-bottom: 36px
  h4
    margin-bottom: 19px
  li
    margin-bottom: 21px
    position: relative
    span
      display: inline-block
      background-color: $orange
      width: 20px
      height: 20px
      border-radius: 50%
      +vertical
      position: relative
      top: -5px
      margin-right: 10px     
      .fa
        display: inline-block
        vertical-align: middle
        font-size: 10px
        color: #fff

.map
  min-height: 500px


//CONTENT




@import new-styles-2/topbar
@import new-styles-2/hero
@import new-styles-2/main
@import new-styles-2/how
@import new-styles-2/request
@import new-styles-2/popup
@import new-styles-2/catalog
@import service-menu
@import new-styles-2/service-menu
@import new-styles-2/applications
