@import lib/mixins

// media
=r1
  @media only screen and (max-width: 1320px)
    @content

=r2
  @media only screen and (max-width: 990px)
    @content
=r3
  @media only screen and (max-width: 660px)
    @content
=r4
  @media only screen and (max-width: 480px)
    @content
=r5
  @media only screen and (max-width: 1150px)
    @content

// fonts
=fa
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


+font("Arial Rounded MT Bold", ArialRoundedMTBold)
+font("opensans-light", opensans-light)

//Arial rounded
=arb
  font-family: "Arial Rounded MT Bold", Arial, sans-serif

// lora-font
=lora
  font-family: 'Lora', serif
  font-weight: 400
=lorai
  font-family: 'Lora', serif
  font-weight: 400
  font-style: italic
=lorab
  font-family: 'Lora', serif
  font-weight: 700
=lorabi
  font-family: 'Lora', serif
  font-weight: 700
  font-style: italic

// 'Fira Sans' font
=fira
  font-family: "FiraSans-Regular", Arial, sans-serif

=reg
  font-family: "FiraSans-Regular", Arial, sans-serif

=regi
  font-family: "FiraSans-Italic", Arial, sans-serif

=light
  font-family: "FiraSans-Light", Arial, sans-serif
=lighti
  font-family: "FiraSans-LightItalic", Arial, sans-serif

=med
  font-family: "FiraSans-Medium", Arial, sans-serif

=medi
  font-family: "FiraSans-MediumItalic", Arial, sans-serif

=bold
  font-family: "FiraSans-Bold", Arial, sans-serif

=boldi
  font-family: "FiraSans-BoldItalic", Arial, sans-serif

=opsans-light
  font-family: "opensans-light", Arial, sans-serif

// colors
$violet: #c0a6cd
$gold: #f2c05e
$red: #d27857
$orange: #ff8c61
$mint: #9bc1bc
$text: #282828
$gray: #d8d8d8

=hover
  .no-touch &
    &:hover
      @content

.h1
  &_md
    font-size: 50px
    color: #657977
    +med

.h2
  &_md
    font-size: 36px
    color: $text
    +med

.h3
  &_md
    font-size: 24px
    +med
    color: $text

.btn-full
  display: inline-block
  text-align: center
  &_grad-green
    box-shadow: 0 2px 0 #8da8a4
    border-radius: 3px
    background-image: linear-gradient(180deg, #9bc1bc 0%, #93b6b2 100%)
    &:before
      border-radius: 3px
      background: darken(#93b6b2, 10%)
  &_grad-orange
    box-shadow: 0 2px 0 #e77448
    border-radius: 3px
    background-image: linear-gradient(180deg, #ffa461 0%, #f67e25 100%)
    &:before
      border-radius: 3px
      background: darken(#ffa461, 10%)
  &_transparent-orange
    border: 1px solid $orange
    border-radius: 3px
    background-color: transparent
    color: $orange
    .no-touch &
      &:hover
        color: #fff
    &:before
      border-radius: 3px
      background: darken($orange, 10%)   

.footer
  &__warning
    color: $text
    +light
    font-size: 12px
    text-transform: uppercase
    padding-top: 38px
    padding-bottom: 38px
    text-align: center
    line-height: 1.5




//CONTENT




@import new-styles-2/topbar
@import new-styles-2/hero
@import new-styles-2/main
@import new-styles-2/how
@import new-styles-2/request
@import new-styles-2/popup
// @import big-map
// @import service-menu
// @import inbox
// @import service-feedback
// @import evaluate
// @import datebox-custom
// @import more-settings
