.applications-section
  padding-top: 30px
  +r2
    padding-top: 19px
    padding-bottom: 10px
  &__top
    +clr
    margin-bottom: 14px
    +r2
      margin-bottom: 45px
    +r3
      margin-bottom: 21px
  &__title
    float: left
    +r1
      float: none
    +r3
      text-align: center
  &__filter-tags
    padding-top: 20px
    float: right
    +r1
      float: none
      .filter-tags
        text-align: left
      .filter-tag
        margin-right: 20px
        margin-left: 0
    +r3
      padding-top: 49px
      .filter-tags
        display: flex
        justify-content: flex-start
        flex-direction: column
      .filter-tag
        &:nth-child(3)
          order: 1
        &:nth-child(1)
          order: 2
        &:nth-child(2)
          order: 3
    .filter-tags
      text-align: right
    .filter-tag
      margin-right: 0
      margin-left: 20px
      padding-left: 25px
      padding-right: 25px
      &:first-child
        margin-left: 0

.all-applications
  background-color: #f5f7f7
  padding-top: 40px
  padding-bottom: 39px
  &__inner
    +clr
  &__left,
  &__right
    float: left
  &__left
    width: 57.4%
  &__right
    width: 42.6%
    padding-left: 30px
  &__btn
    max-width: 260px
    margin-left: auto
    margin-right: auto
    padding-top: 38px
  &__title
    margin-bottom: 25px

