.help
  padding-top: 76px
  padding-bottom: 90px
  +cover
  +r2
    text-align: center
    padding-top: 57px
  +r3
    padding-top: 44px
    padding-bottom: 81px
  &__title
    margin-bottom: 4px
    +r3
      margin-bottom: 20px
  &__subttl
    font-size: 24px
    color: $text
    +light
    margin-bottom: 63px
    +r3
      font-size: 18px
      margin-bottom: 34px
  &__btn
    max-width: 220px
    +r2
      margin-left: auto
      margin-right: auto
    +r3
      max-width: none

.filter-tags  
  padding-bottom: 10px
  &.has-bd-bottom
    border-bottom: 1px solid  $gray
    +r3
      border-bottom: none
    .filter-tag
      margin-bottom: 20px
  &.has-no-padding
    padding: 0

.filter-tag
  display: inline-block
  text-align: center
  font-size: 16px
  +reg
  color: #353535
  border-radius: 3px
  border: 1px solid $gray
  min-width: 120px
  padding: 10px 35px
  margin-right: 20px  
  background-color: transparent
  position: relative
  +r2
    padding-left: 30px
    padding-right: 30px
    &:nth-child(3n-3)
      margin-right: 0
  +r3
    font-size: 12px
    padding-top: 7px
    padding-bottom: 7px
    margin-right: 10px
    padding-left: 10px
    padding-right: 10px
    &:nth-child(3n-3)
      margin-right: 10px
  .close-icon
    +icon-close(8, 2, #fff)
    position: absolute
    top: 6px
    right: 7px
  &:focus, &.is-active
    background-image: linear-gradient(180deg, #ffa461 0%, #f67e25 100%)
    color: #fff
  &.is-fz-smaller
    font-size: 14px

  &_fixed-width
    width: 230px
    padding-left: 10px
    padding-right: 10px
    margin-bottom: 0
    +r1
      width: auto
      min-width: 210px
      padding-left: 21px
      padding-right: 21px
      margin-bottom: 6px
    +r2
      padding-left: 21px
      padding-right: 21px
    +r3
      width: 100%
      margin-bottom: 11px

.helpers-section
  background-color: #f5f7f7
  padding-top: 80px
  padding-bottom: 50px
  +r2
    padding-top: 49px
  +r3
    padding-top: 24px
  &__title
    text-align: center
    margin-bottom: 84px
    +r2
      margin-bottom: 45px
    +r3
      margin-bottom: 23px
  &__btn-block-title
    font-size: 24px
    color: $text
    +med
    margin-bottom: 26px
    +r3
      font-size: 18px
      margin-bottom: 47px
  &__btn
    max-width: 220px
    margin: 0 auto
    +r3
      max-width: none
  &__btn-block
    text-align: center
  &__helpers
    margin-bottom: 47px
    +r3
      margin-bottom: 29px
      

.helpers
  font-size: 0
  &__wrap
    border-bottom: 1px solid  $gray
    padding-bottom: 37px
    +r2
      margin-left: -15px
      margin-right: -15px
  &__btn
    max-width: 220px
    margin: 0 auto
    +r3
      max-width: none
      width: calc(100% - 30px)
      text-align: center

.mob-slider
  &__wrap
    position: relative
  &__prev,
  &__next
    display: none
    position: absolute
    top: 67px
    background-color: transparent
    .fa
      font-size: 56px
      color: $text
    +r2
      display: block
  &__prev
    left: 32px
    +r3
      left: 13px
  &__next
    right: 43px
    +r3
      right: 21px


.helper
  display: inline-block
  text-align: center
  width: 20%
  padding-left: 10px
  padding-right: 10px
  margin-bottom: 63px
  +r3
    margin-bottom: 34px
  &__img
    width: 190px
    height: 190px
    border-radius: 50%
    +cover
    border: 2px solid  #fff
    margin-left: auto
    margin-right: auto
    margin-bottom: 32px
    position: relative
  &__name
    font-size: 24px
    +med
    color: $text
    margin-bottom: 17px
  &__social
    position: absolute
    bottom: -17px
    left: 0
    width: 100%
    text-align: center
  &__social-icon
    display: inline-block
    margin: 0 4px
  &__info
    font-size: 0
  &__info-block
    display: inline-block
    margin: 0 10px
    font-size: 15px
    color: $text
    +light
    span
      display: inline-block
      position: relative
      top: -0.3em

  &_width
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 100%
    +r3
      margin-bottom: 45px
      .helper__img
        width: 100px
        height: 100px
        margin-bottom: 11px
    .helper__social
      position: static
      text-align: left
      margin-bottom: 20px
      +r3
        text-align: center
    .helper__social-icon
      margin-left: 0
      margin-right: 10px
      svg
        width: 30px
        height: 30px
    .helper__name
      margin-bottom: 11px
      +r2
        margin-bottom: 3px
      +r3
        font-size: 18px
        margin-bottom: 14px
    .helper__info-block
      width: auto
      margin-right: 20px
    &__left
      +r3
        width: 100%
    &__center
      flex: 1
      text-align: left
      padding-left: 39px
      padding-top: 16px
      +r3
        padding-top: 6px
        padding-left: 0
        text-align: center
      .helper_width__type
        display: none
        +r2
          display: block
          margin-bottom: 10px
    &__city
      font-size: 16px
      color: $text
      margin-bottom: 18px
      +r3
        font-size: 14px
    &__right
      padding-top: 29px
      +r2
        display: none
    &__type
      font-size: 16px
      color: $text
      +r3
        font-size: 14px

.partners
  padding-top: 78px
  padding-bottom: 0
  +r2
    padding-top: 47px
  +r3
    padding-top: 33px
  &__slider
    border-bottom: 1px solid  $gray
    margin-bottom: 36px
    &.has-no-bd-bottom
      border-bottom: none
  &__title
    +r3
      text-align: center

.partners-slider
  font-size: 0
  padding-top: 50px
  padding-bottom: 50px
  &__item
    width: 16.66666%
    display: inline-block
    +vertical
    img
      display: inline-block
      vertical-align: middle
      max-width: 100%

.join
  text-align: center
  position: relative
  overflow: hidden
  padding-top: 15%
  padding-bottom: 15%
  +r2
    padding-top: 23%
    padding-bottom: 37%
  &__title
    color: #fff
    font-size: 46px
    +med
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.34)
    margin-bottom: 14px
    +r3
      font-size: 30px
  &__subttl
    color: #fff
    font-size: 24px
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.34)
    +light
    margin-bottom: 70px
    +r3
      font-size: 18px
      margin-bottom: 62px
  &__btn
    max-width: 220px
    margin: 0 auto
    +r3
      max-width: none

.comp-bg
  font-size: 0
  position: absolute
  width: 100%
  height: 100%
  z-index: -1
  left: 0
  top: 0
  // &::before
  //   content: ''
  //   background-color: rgba(#000, .5)
  //   +coverdiv
  &__item
    +cover
    display: inline-block
    width: 11.11111%
    height: 33.333333%
    +r2
      width: 33.333333%

.mob-slider
  &__wrap
    position: relative



