.popup
  &_lg
    &__in
      max-width: 850px
      +r2
        max-width: 570px      
    &__title
      text-align: center
      margin-bottom: 35px
    .popup__body
      padding-top: 55px
      padding-left: 50px
      padding-right: 50px
      padding-bottom: 39px
      +r3
        padding-left: 20px
        padding-right: 20px      
    &__text
      text-align: center
      font-size: 14px
      color: $text
      margin-bottom: 34px
      +r3
        max-width: 211px
        margin-left: auto
        margin-right: auto
    &__btns
      text-align: center
      margin-bottom: 20px
    &__btn
      display: inline-block
      min-width: 200px
      margin-left: 10px
      margin-right: 10px
      +r3
        width: 100%
        margin-bottom: 20px
        margin-left: 0
        margin-right: 0
  &_mob-height-full
    .popup__body
      +r3
        height: calc(100vh - 70px)
        display: flex
        flex-direction: column
        justify-content: center
      +rh(420)
        height: auto

.popup-main
  .popup__body
    padding-top: 55px
    padding-bottom: 0
    padding-left: 0
    padding-right: 0
    +r3
      padding-left: 0
      padding-right: 0
  &__title
    text-align: center
    margin-bottom: 41px
  &__blocks
    border-top: 1px solid  $gray
    font-size: 0
  &__block
    display: inline-block
    width: 50%
    vertical-align: top
    border-right: 1px solid  $gray
    font-size: 14px
    text-align: center
    padding-top: 35px
    padding-left: 48px
    padding-right: 40px
    padding-bottom: 59px
    +r2
      width: 100%
      border-right: none
      padding-bottom: 39px
      &:first-child
        border-bottom: 1px solid $gray
      p
        max-width: 337px
        margin-left: auto
        margin-right: auto
    +r3
      padding-left: 30px
      padding-right: 30px
    p
      margin-bottom: 25px
    &:last-child
      border-right: none
  &__btn
    max-width: 220px
    margin: 0 auto
    +r3
      max-width: none
      text-align: center

.popup-account
  &__form
    +r3
      flex: 1

.popup-catalog
  .popup__body
    padding-left: 30px
    padding-right: 35px
    padding-top: 39px
    padding-bottom: 39px
  &__title
    border-bottom: 1px solid  $gray
    padding-bottom: 20px
    +r3
      text-align: center
  &__feedbacks
    margin-bottom: 40px
  &__btn
    max-width: 220px
    margin: 0 auto

.popup_lg-form
  +r3
    height: 100%
    form
      height: 100%
  &__textarea
    margin-bottom: 40px
    +r3
      height: calc(100% - 80px)
    textarea
      width: 100%
      resize: none
      min-height: 140px
      border: 1px solid  $gray
      border-radius: 3px
      padding: 10px
      font-size: 16px
      color: $text
      +reg
      +placeholder
        font-size: 14px
        color: $text
        +reg
      +r2
        min-height: 240px
      +r3
        min-height: auto
        height: 100%

  &__btn
    max-width: 260px
    margin: 0 auto
  &__btn-short
    max-width: 200px
  &__radio
    text-align: center
    margin-bottom: 45px
    .radio
      margin-left: 10px
      margin-right: 10px