.popup
  &_lg
    &__in
      max-width: 850px
    &__title
      text-align: center
      margin-bottom: 35px
    .popup__body
      padding-top: 55px
      padding-left: 50px
      padding-right: 50px
      padding-bottom: 39px
    &__text
      text-align: center
      font-size: 14px
      color: $text
      margin-bottom: 34px
    &__btns
      text-align: center
      margin-bottom: 20px
    &__btn
      display: inline-block
      min-width: 200px
      margin-left: 10px
      margin-right: 10px

.popup-main
  .popup__body
    padding-top: 55px
    padding-bottom: 0
    padding-left: 0
    padding-right: 0
  &__title
    text-align: center
    margin-bottom: 41px
  &__blocks
    border-top: 1px solid  $gray
    font-size: 0
  &__block
    display: inline-block
    width: 50%
    vertical-align: top
    border-right: 1px solid  $gray
    font-size: 14px
    text-align: center
    padding-top: 35px
    padding-left: 48px
    padding-right: 40px
    padding-bottom: 59px
    +r2
      width: 100%
      border-right: none
      padding-bottom: 39px
      &:first-child
        border-bottom: 1px solid $gray
      p
        max-width: 337px
        margin-left: auto
        margin-right: auto
    +r3
      padding-left: 30px
      padding-right: 30px
    p
      margin-bottom: 25px
    &:last-child
      border-right: none
  &__btn
    max-width: 220px
    margin: 0 auto
    +r3
      max-width: none
      text-align: center

.popup-catalog
  .popup__body
    padding-left: 30px
    padding-right: 35px
    padding-top: 39px
    padding-bottom: 39px
  &__title
    border-bottom: 1px solid  $gray
    padding-bottom: 20px
  &__feedbacks
    margin-bottom: 40px
  &__btn
    max-width: 220px
    margin: 0 auto

.popup_lg-form
  &__textarea
    margin-bottom: 40px
    textarea
      width: 100%
      resize: none
      min-height: 140px
      border: 1px solid  $gray
      border-radius: 3px
      padding: 10px
      font-size: 16px
      color: $text
      +reg
      +placeholder
        font-size: 14px
        color: $text
        +reg

  &__btn
    max-width: 260px
    margin: 0 auto
  &__btn-short
    max-width: 200px
  &__radio
    text-align: center
    margin-bottom: 45px
    .radio
      margin-left: 10px
      margin-right: 10px