<!-- begin filter-tags -->
<div class="filter-tags has-bd-bottom">
  <button class="filter-tag">
    <span class="filter-tag__lable">Все</span>
    <i class="close-icon"></i>
  </button>
  <button class="filter-tag">
    <span class="filter-tag__lable">Подвезти на машине</span>
    <i class="close-icon"></i>
  </button>
  <button class="filter-tag">
    <span class="filter-tag__lable">Профессиональная помощь</span>
    <i class="close-icon"></i>
  </button>
  <button class="filter-tag">
    <span class="filter-tag__lable">Юридическая помощь</span>
    <i class="close-icon"></i>
  </button>
  <button class="filter-tag">
    <span class="filter-tag__lable">Доставить из другой страны</span>
    <i class="close-icon"></i>
  </button>
  <button class="filter-tag">
    <span class="filter-tag__lable">Сопроводить</span>
    <i class="close-icon"></i>
  </button>
  <button class="filter-tag">
    <span class="filter-tag__lable">Другое</span>
    <i class="close-icon"></i>
  </button>
</div>
<!-- end filter-tags -->