<!-- begin filters-block -->
<div class="filters-block filters-block_all">

  <div class="filters-block__top">
    <div class="filters-block__select">
      <div class="select select_volonter js-select">
      <div class="select__text js-select-text">Город</div>
        <div class="select__icon"></div>
        <ul class="select__list js-select-list">
          <li data-val="value">value</li>
          <li data-val="value1">value1</li>
          <li data-val="value2">value2</li>
        </ul>
        <select>
          <option value="value">value</option>
          <option value="value1">value1</option>
          <option value="value2">value2</option>
        </select>
      </div>
    </div>
    <div class="filters-block__filter-tags">
      <!-- begin filter-tags -->
      <div class="filter-tags">
        <button class="filter-tag is-active">
          <span class="filter-tag__lable">Все вместе</span>
          <i class="close-icon"></i>
        </button>
        <button class="filter-tag">
          <span class="filter-tag__lable">Помочь добраться на авто</span>
          <i class="close-icon"></i>
        </button>
        <button class="filter-tag">
          <span class="filter-tag__lable">Юридическая помощь</span>
          <i class="close-icon"></i>
        </button>
        <button class="filter-tag">
          <span class="filter-tag__lable">Сопроводить</span>
          <i class="close-icon"></i>
        </button>
        <button class="filter-tag">
          <span class="filter-tag__lable">Профессиональная помощь</span>
          <i class="close-icon"></i>
        </button>
        <button class="filter-tag">
          <span class="filter-tag__lable">Доставить из другой страны</span>
          <i class="close-icon"></i>
        </button>
        <button class="filter-tag">
          <span class="filter-tag__lable">Другое</span>
          <i class="close-icon"></i>
        </button>
      </div>
      <!-- end filter-tags -->
    </div>
  </div>

  <div class="filters-block__bottom">
    <div class="filters-block__all"><p>Всего найдено волонтеров: 145</p></div>
    <div class="filters-block__links">
      <a href="#" class="filters-block__link is-active">Ближайшие</a>
      <a href="#" class="filters-block__link">Новые</a>
      <a href="#" class="filters-block__link">Срочные</a>
    </div>
  </div>

</div>
<!-- end filters-block -->