<footer class="footer">
	<div class="footer__bottom">
		<div class="container">
			<ul class="footer__social">
				<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
				<li><a href="#"><i class="fa fa-vk"></i></a></li>
				<li><a href="#"><i class="fa fa-odnoklassniki-square"></i></a></li>
			</ul>
			<div class="footer__copy">
				<p>© Dislife.ru 2015</p>
				<div class="footer__age">18+</div>
			</div>
		</div>
	</div>
</footer>