<a href="#" class="top-banner" style="background-image: url(img/top-banner.jpg);"></a>
<header class="header js-header">
	<div class="header__fixed">
		<a href="#" class="logo">
			<span class="logo__orange">Dis</span>
			<span>LIFE</span>
		</a>
		<button class="btn-nav js-nav-btn">
			<span></span>
		</button>
		<div class="header__inner">
			<nav class="nav js-nav">
				<ul class="nav__list">
					<li class="nav__item"><a href="#" class="nav__link is-brown"><span>Здоровье</span></a></li>
					<li class="nav__item"><a href="#" class="nav__link is-purple"><span>Образование</span></a></li>
					<li class="nav__item"><a href="#" class="nav__link is-yellow"><span>Маленькая политика</span></a></li>
					<li class="nav__item"><a href="#" class="nav__link is-drop is-active is-orange"><span>Спецпроекты</span> <i class="fa fa-chevron-down"></i></a></li>
				</ul>
			</nav>
			<a href="#" class="btn-enter">
				<i class="fa fa-sign-in"></i>
				<span>Вход</span>
			</a>
		</div>
		<div class="mini-search">
			<a href="#" class="fa fa-search"></a>
		</div>
	</div>
</header>
