<a href="#" class="top-banner" style="background-image: url(img/top-banner.jpg);"></a>
<header class="header js-header">
	<div class="header__fixed">
		<a href="#" class="logo">
			<i class="icon-logo"></i>
		</a>
		<button class="btn-nav js-nav-btn" data-id="main-nav">
			<span></span>
		</button>
		<div class="header__inner">

			//=include nav.html

			<a href="#" class="btn-enter js-open-popup" data-link="popup-login">
				<i class="fa fa-sign-in"></i>
				<span>Вход</span>
			</a>
		</div>
		<div class="mini-search">
			<a href="#" class="fa fa-search"></a>
		</div>
	</div>
</header>
