<a href="#" class="top-banner" style="background-image: url(img/top-banner.jpg);"></a>
<header class="header js-header">
	<div class="header__fixed">
		<a href="#" class="logo">
			<i class="icon-logo"></i>
		</a>
		<button class="btn-nav js-nav-btn">
			<span></span>
		</button>
		<div class="header__inner">
			<nav class="nav js-nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link is-brown">
							<div class="nav__link-in">
								<span>Здоровье</span>
							</div>
						</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link is-purple">
							<div class="nav__link-in">
								<span>Образование</span>
							</div>
						</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link is-yellow">
							<div class="nav__link-in">
								<span>Маленькая политика</span>
							</div>
						</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link is-orange">
							<div class="nav__link-in">
								<span>Патронус</span>
								<small>Детский правозащитный проект</small>
							</div>
						</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link is-orange">
							<div class="nav__link-in">
								<span>Пазлы</span>
								<small>Знакомства для инвалидов</small>
							</div>
						</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link is-orange">
							<div class="nav__link-in">
								<span>Бюро справедливости</span>
								<small>Обратиться к депутату</small>
							</div>
						</a>
					</li>
				</ul>
			</nav>
			<a href="#" class="btn-out">
				<i class="fa fa-sign-out"></i>
			</a>
			<a href="#" class="btn-profile">
				<div class="btn-profile__img" style="background-image: url(https://placecage.com/50/50);"></div>
				<span>Профайл</span>
			</a>
			<a href="#" class="btn-message">
				<i class="fa fa-envelope"></i>
				<span>12</span>
			</a>
			<a href="#" class="btn-add">
				<i class="fa fa-user-plus"></i>
				<span>2</span>
			</a>
		</div>
		<div class="mini-search mini-search_mod">
			<a href="#" class="fa fa-search"></a>
		</div>
	</div>
</header>
