<a href="#" class="top-banner" style="background-image: url(img/top-banner.jpg);"></a>
<header class="header header_volonter js-header">
  <div class="header__fixed">
    <a href="#" class="logo">
      <i class="icon-logo"></i>
    </a>
    <button class="btn-nav js-nav-btn" data-id="main-nav">
      <span></span>
    </button>
    <div class="header__inner">
    <div class="container container_whider">
      <nav class="nav js-nav" data-nav="main-nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link is-brown">
              <div class="nav__link-in">
                <span>Здоровье</span>
              </div>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link is-purple">
              <div class="nav__link-in">
                <span>Образование</span>
              </div>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link is-yellow">
              <div class="nav__link-in">
                <span>Маленькая политика</span>
              </div>
            </a>
          </li>
          <li class="nav__item nav-specials js-nav-specials">
            <a href="#" class="nav-specials__link nav__link is-orange js-specials-link">
              <div class="nav__link-in">
                <span>Спецпроекты</span>
                <i class="fa fa-chevron-down"></i>
              </div>
            </a>
            <ul class="nav-specials__list js-specials-drop">
              <li class="nav__item">
                <a href="#" class="nav__link is-orange">
                  <div class="nav__link-in">
                    <span>Патронус</span>
                    <small>Детский правозащитный проект</small>
                  </div>
                </a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link is-orange">
                  <div class="nav__link-in">
                    <span>Пазлы</span>
                    <small>Знакомства для инвалидов</small>
                  </div>
                </a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link is-orange">
                  <div class="nav__link-in">
                    <span>Бюро справедливости</span>
                    <small>Обратиться к депутату</small>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <a href="#" class="btn-enter js-open-popup" data-link="popup-login">
        <i class="fa fa-sign-in"></i>
        <span>Вход</span>
      </a>
      </div>
    </div>
    <div class="mini-search">
      <a href="#" class="fa fa-search"></a>
    </div>
  </div>
</header>
