<!-- begin how-tabs -->
<div class="how-tabs tabs">

  <div class="how-tabs__tabs tabs__tabs">
    <span class="how-tabs__tab tabs__tab js-tab" data-target-tab="1st">Для людей с инвалидностью</span>
    <span class="how-tabs__tab tabs__tab js-tab" data-target-tab="2nd">Для помощников</span>
    <span class="how-tabs__tab tabs__tab js-tab" data-target-tab="3nd">Для организаций</span>
  </div>

  <div class="how-tabs__content tabs__content">

    <div class="how-tabs__item tabs__item js-tabs-item" data-tab="1st">
      <div class="how-block">
        <div class="how-block__img">
          <img src="img/volonter/how/how-1.svg" alt="">
        </div>
        <div class="how-block__text">
          <div class="how-block__title">1. Создай заявку</div>
          <div class="how-block__descr">
            <p>Опиши, какая конкретно помощь тебе нужна, когда и где. После модерации заявка появится на карте. Мы не рекомендуем оставлять заявки, связанные с доступом в квартиру, потому что не знаем каждого человека и не несем за них ответственность.</p>
          </div>
        </div>
      </div>
      <div class="how-block">
        <div class="how-block__img">
          <img src="img/volonter/how/how-2.svg" alt="">
        </div>
        <div class="how-block__text">
          <div class="how-block__title">2. Выбери помощника</div>
          <div class="how-block__descr">
            <p>Теперь люди могут предлагать свою помощь – каждый отклик ты будешь видеть в личном кабинете. Изучи волонтеров и выбери одного, нажав соответствующую кнопку рядом с ним. Помни, откликнуться на заявку может любой желающий, поэтому не стоит доверять серьезные вопросы человеку, в котором ты сам не уверен – мы не знаем каждого волонтера и не контролируем их действия.</p>
          </div>
        </div>
      </div>
      <div class="how-block">
        <div class="how-block__img">
          <img src="img/volonter/how/how-3.svg" alt="">
        </div>
        <div class="how-block__text">
          <div class="how-block__title">3. Свяжись с помощником</div>
          <div class="how-block__descr">
            <p>Теперь ты видишь телефон помощника. Свяжись с ним, чтобы уточнить детали и договориться о помощи. Потом не забудь "Добавить отзыв" – это поможет другим людям при выборе помощника :)  А еще не забывай, что волонтеры помогают от души, а не за деньги, поэтому никто не может просить оплату!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="how-tabs__item tabs__item js-tabs-item" data-tab="2nd">
      <div class="how-block">
        <div class="how-block__img">
          <img src="img/volonter/how/how-1.svg" alt="">
        </div>
        <div class="how-block__text">
          <div class="how-block__title">1. Создай заявку</div>
          <div class="how-block__descr">
            <p>Опиши, какая конкретно помощь тебе нужна, когда и где. После модерации заявка появится на карте. Мы не рекомендуем оставлять заявки, связанные с доступом в квартиру, потому что не знаем каждого человека и не несем за них ответственность.</p>
          </div>
        </div>
      </div>
      <div class="how-block">
        <div class="how-block__img">
          <img src="img/volonter/how/how-2.svg" alt="">
        </div>
        <div class="how-block__text">
          <div class="how-block__title">2. Выбери помощника</div>
          <div class="how-block__descr">
            <p>Теперь люди могут предлагать свою помощь – каждый отклик ты будешь видеть в личном кабинете. Изучи волонтеров и выбери одного, нажав соответствующую кнопку рядом с ним. Помни, откликнуться на заявку может любой желающий, поэтому не стоит доверять серьезные вопросы человеку, в котором ты сам не уверен – мы не знаем каждого волонтера и не контролируем их действия.</p>
          </div>
        </div>
      </div>
      <div class="how-block">
        <div class="how-block__img">
          <img src="img/volonter/how/how-3.svg" alt="">
        </div>
        <div class="how-block__text">
          <div class="how-block__title">3. Свяжись с помощником</div>
          <div class="how-block__descr">
            <p>Теперь ты видишь телефон помощника. Свяжись с ним, чтобы уточнить детали и договориться о помощи. Потом не забудь "Добавить отзыв" – это поможет другим людям при выборе помощника :)  А еще не забывай, что волонтеры помогают от души, а не за деньги, поэтому никто не может просить оплату!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="how-tabs__item tabs__item js-tabs-item" data-tab="3nd">
      <div class="how-block">
        <div class="how-block__img">
          <img src="img/volonter/how/how-1.svg" alt="">
        </div>
        <div class="how-block__text">
          <div class="how-block__title">1. Создай заявку</div>
          <div class="how-block__descr">
            <p>Опиши, какая конкретно помощь тебе нужна, когда и где. После модерации заявка появится на карте. Мы не рекомендуем оставлять заявки, связанные с доступом в квартиру, потому что не знаем каждого человека и не несем за них ответственность.</p>
          </div>
        </div>
      </div>
      <div class="how-block">
        <div class="how-block__img">
          <img src="img/volonter/how/how-2.svg" alt="">
        </div>
        <div class="how-block__text">
          <div class="how-block__title">2. Выбери помощника</div>
          <div class="how-block__descr">
            <p>Теперь люди могут предлагать свою помощь – каждый отклик ты будешь видеть в личном кабинете. Изучи волонтеров и выбери одного, нажав соответствующую кнопку рядом с ним. Помни, откликнуться на заявку может любой желающий, поэтому не стоит доверять серьезные вопросы человеку, в котором ты сам не уверен – мы не знаем каждого волонтера и не контролируем их действия.</p>
          </div>
        </div>
      </div>
      <div class="how-block">
        <div class="how-block__img">
          <img src="img/volonter/how/how-3.svg" alt="">
        </div>
        <div class="how-block__text">
          <div class="how-block__title">3. Свяжись с помощником</div>
          <div class="how-block__descr">
            <p>Теперь ты видишь телефон помощника. Свяжись с ним, чтобы уточнить детали и договориться о помощи. Потом не забудь "Добавить отзыв" – это поможет другим людям при выборе помощника :)  А еще не забывай, что волонтеры помогают от души, а не за деньги, поэтому никто не может просить оплату!</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- end how-tabs -->