<!-- begin more  -->
<div class="more">
	<div class="container">
		<h2 class="h2 h2_mb">Узнать больше</h2>
		<div class="row">
			<div class="col-s">
				<!-- begin item  -->
				<div class="item item_violet">
					<a href="#" class="btn btn_violet">Образование</a>
					<a href="#" class="item__in">
						<div class="item__img" style="background-image: url(img/item.jpg)"></div>
						<div class="item__txt">
							<p class="item__author">Ира Соломонова</p>
							<p class="item__subtitle">Подготовить особенных детей к жизни в обычном мире</p>
							<p class="item__info">Почему воспитанникам детских домов не могут помочь ни взрослые, ни закон, и за что здоровых детей отправляют в психиатрические больницы</p>
						</div>
					</a>
				</div>
				<!-- end item -->
			</div>
			<div class="col-s">
				<!-- begin item  -->
				<div class="item item_violet">
					<a href="#" class="btn btn_violet">Образование</a>
					<a href="#" class="item__in">
						<div class="item__img" style="background-image: url(img/item2.jpg)"></div>
						<div class="item__txt">
							<p class="item__author">Ира Соломонова</p>
							<p class="item__subtitle">В этой школе учатся все</p>
							<p class="item__info">Почему воспитанникам детских домов не могут помочь ни взрослые, ни закон, и за что здоровых детей отправляют в психиатрические больницы</p>
						</div>
					</a>
				</div>
				<!-- end item -->
			</div>
			<div class="col-s">
				<!-- begin item  -->
				<div class="item item_gold item_mod">
					<a href="#" class="btn btn_gold">Маленькая политика</a>
					<a href="#" class="item__in">
						<div class="item__img" style="background-image: url(img/item3.jpg)">
							<div class="item__title">
								<p class="item__author">Ира Соломонова</p>
								<p class="item__name">Дети Гольяново</p>
							</div>
							<span class="item__arr"></span>
						</div>
						<div class="item__txt">
							<p class="item__link">Инструкция</p>
							<p>Как правильно экономить на авиабилетах? Руководство к действию</p>
						</div>
					</a>
				</div>
				<!-- end item -->
			</div>
		</div>
		<h2 class="h2 h2_mb">Главное сейчас</h2>
		<div class="row">
			<div class="col-big">
				<!-- begin item  -->
				<div class="item item_gold item_mod item_big">
					<a href="#" class="btn btn_gold">Маленькая политика</a>
					<a href="#" class="item__img" style="background-image: url(img/item-big.jpg)">
						<div class="item__title">
							<p class="item__author">Ира Соломонова</p>
							<p class="item__name">Дети Гольяново</p>
						</div>
						<span class="item__arr"></span>
					</a>
					<div class="item__txt">
						<a href="#" class="item__link">Инструкция</a>
						<p>Как правильно экономить на авиабилетах? Руководство к действию</p>
						<div class="man">
							<div class="man__img">
								<img src="img/man-o.png" alt="">
							</div>
							<div class="man__text">Объясняет заслуженный учитель России, автор учебников по литературе Татьяна Иванцова</div>
						</div>
					</div>
				</div>
				<!-- end item -->
			</div>
			<div class="col-sm">
				<!-- BEGIN sidepanel  -->
				 <aside class="sidepanel">
					<div class="banner-img">
						<a href="#">
							<img src="img/banner.jpg" alt="banner">
						</a>
					</div>
				</aside>
				<!-- END sidepanel  -->
			</div>
		</div>
	</div>
</div>
<!-- end more -->