<nav class="nav js-nav" data-nav="main-nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="#" class="nav__link is-brown">
                <div class="nav__link-in">
                    <span>Здоровье</span>
                </div>
            </a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link is-purple">
                <div class="nav__link-in">
                    <span>Льготы</span>
                </div>
            </a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link is-yellow">
                <div class="nav__link-in">
                    <span>Общество</span>
                </div>
            </a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link is-black">
                <div class="nav__link-in">
                    <span>Трудоустройство</span>
                </div>
            </a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link is-orange">
                <div class="nav__link-in">
                    <span>Знакомства</span>
                </div>
            </a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link is-orange">
                <div class="nav__link-in">
                    <span>Форум</span>
                </div>
            </a>
        </li>
        <li class="nav__item nav-specials js-nav-specials">
            <a href="#" class="nav-specials__link nav__link is-orange js-specials-link">
                <div class="nav__link-in">
                    <span>Помощь</span>
                    <i class="fa fa-chevron-down"></i>
                </div>
            </a>
            <ul class="nav-specials__list js-specials-drop">
                <li class="nav__item">
                    <a href="#" class="nav__link is-orange">
                        <div class="nav__link-in">
                            <span>Бюро справедливости</span>
                            <small>Обратиться к депутату</small>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>