<!-- begin popup-main -->
<div class="popup popup_lg popup-main js-popup is-open" data-popup="popup-main-volonter">
  <div class="popup__in popup_lg__in">
    <button class="fa fa-close popup__close js-close-popup"></button>
    <div class="popup__body">
      <div class="popup-main__title">
        <h3 class="h3 h3_md">Тебе нужно выбрать</h3>
      </div>
      <div class="popup-main__blocks">
        <div class="popup-main__block">
          <p>Сделать этот аккаунт волонтёрским, потеряв функцию оставлять заявки о помощи</p>
          <div class="popup-main__btn">
            <a href="#" class="btn-full btn-full_grad-green"><span>Да, поменять аккаунт</span></a>
          </div>
        </div>
        <div class="popup-main__block">
          <p>Создать ещё один аккаунт,<br> чтобы откликаться на заявки</p>
          <div class="popup-main__btn">
            <a href="#" class="btn-full btn-full_grad-green"><span>Создать новый аккаунт</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end popup-main -->