<!-- begin topbar -->
<div class="topbar">
  <div class="container container_whider">
    <div class="topbar__inner">
      <div class="topbar__nav">
        <nav class="topbar-nav">
          <ul class="topbar-nav__list">
            <li class="topbar-nav__item"><a href="#" class="topbar-nav__link">О сервисе</a></li>
            <li class="topbar-nav__item"><a href="#" class="topbar-nav__link">Все заявки <span>(148)</span></a></li>
            <li class="topbar-nav__item"><a href="#" class="topbar-nav__link">Создать заявку</a></li>
            <li class="topbar-nav__item"><a href="#" class="topbar-nav__link">Все помощники <span>(145)</span></a></li>
            <li class="topbar-nav__item"><a href="#" class="topbar-nav__link">Хочу помогать</a></li>
            <li class="topbar-nav__item"><a href="#" class="topbar-nav__link">Наши партнеры</a></li>
          </ul>
        </nav>
      </div>
      <div class="topbar__contact">Горячая линия: 8 (800) 333-44-55</div>
    </div>
  </div>    
</div>
  <!-- end topbar -->